.slider-wrapper {
    width: 100%;
    max-height: 420px;
    background: #F5F5F5;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}

.cntools-slider {
    display: flex;
    position: relative;
    width: 100%;
    max-height: 424px;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: nowrap;
}


.cntools-slider .cntools-slider-item {
    display: none;
    position: relative;
    overflow: hidden;
    width: 100%;
    /*border: 3px solid blue;*/
    float: left;
    /*width: 1003px;*/
    border-radius: 5px;
}


.cntools-slider .cntools-slider-item img {
    width: 100%;
    object-fit: cover;
    z-index: 2;
}


.cntools-slider .active {
    display: block;
}

.cntools-slider .dot-wrapper {
    display: block;
    position: absolute;
    bottom: 10px;
    right: 10px;
    float: right;
    z-index: 3;
    padding: 3px;
}


.cntools-slider .dot-wrapper .dot {
    width: 18px;
    height: 18px;
    background: #6d9bb5;
    margin:0 5px 0 0;
    display: inline-block;
    border-radius: 100%;
}

.cntools-slider .dot-wrapper .dot:hover,
.cntools-slider .dot-wrapper .active
{
    background: #c1d4e0;
    cursor: pointer;
}



/* Theme 1*/

.cntools-slider-theme-1:after,
.cntools-slider-theme-1:before{
    content: "";
    background: #2a6f94;
    width: 100%;
    height: 150px;
    position: absolute;
    transform: rotate(160deg);
    top: -200px;
    left: -100px;
    z-index: 1;
    border-top: solid 40px #1d526f;
    border-bottom: solid 40px #1d526f;
}


.cntools-slider-theme-1:before {
    transform: rotate(160deg);
    bottom: -200px;
    right: -100px;
    top: unset;
    left: unset;
}


.cntools-box-slider-item {
    min-width: 290px;

}

/* Box slider */

.cntools-box-slider {
    /*border: solid 1px red;*/
    /*max-height: 410px;*/
    width: 100%;
    overflow: hidden;
    /*overflow: scroll;*/
}






.cntools-box-slider-wrapper .dot-wrapper {
    display: block;
    position: absolute;
    bottom: -40px;
    right: 10px;
    left: 10px;
    z-index: 3;
    padding: 3px;
    margin: auto;
    text-align: center;
}


.cntools-box-slider-wrapper  .dot-wrapper .dot {
    width: 18px;
    height: 18px;
    background: #e2e2e2;
    margin:0 5px 0 0;
    display: inline-block;
    border-radius: 100%;
}

.cntools-box-slider-wrapper .dot-wrapper .dot:hover,
.cntools-box-slider-wrapper .dot-wrapper .active
{
    background: #aaaaaa;
    cursor: pointer;
}


.cntools-box-slider .products-wraped-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.cntools-box-slider .products-wraped-list li {
    margin-left: 20px;
}

.cntools-box-slider li {
    display: none;
}

.cntools-box-slider li:nth-child(1),
.cntools-box-slider li:nth-child(2),
.cntools-box-slider li:nth-child(3),
.cntools-box-slider li:nth-child(4) {
    display: block;
}


/* BRAND SLIDER */
@media (max-width: 690px)  {
    .cntools-brand-slider{
        display: block;
        position: relative;
        overflow: hidden;
    }


    .cntools-brand-slider .brands-list-front {
        flex-wrap: unset;
    }
}


