.cn-button {
    display: inline-block;
    border-radius: 30px;
    padding: 10px;
    min-width: 100px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
    cursor: pointer;
}




.cn-button-blue {
    border: solid 1px #296e93;
    background: #296e93;
    color: #fff;
    font-size: 14px;
}


.cn-button-blue-sm {
    border: solid 1px #296e93;
    background: #296e93;
    color: #fff;
    font-size: 10px;
    min-width: 70px;
    padding: 5px;
}

.cn-button-grey {
    border: solid 1px #222;
    background: white;
    color: #222;
    font-size: 14px;
}


.cn-button-grey-sm {
    border: solid 1px #222;
    background: white;
    color: #222;
    font-size: 10px;
    min-width: 70px;
    padding: 5px;
}

