/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,200&display=swap');
@import "normalize.css";
@import "root.css";
@import "form-elements.css";
@import "slider.css";
@import "supplier-page.css";
@import "responcive.css";

body {
    font-family: var(--bs-font-base);
}

div, section, main, nav, ul, ol, h1, h2,h3, h4, h5, li {
    display: block;
    position: relative;
    padding: 0px;
    margin: 0px;
}

a {
    color: var(--bs-darck);
    text-decoration: none;
}


a:hover {
    color: var(--bs-yellow);
    text-decoration: none;
}


li {
    list-style: none;
}

.dd {
    outline: solid 1px #00ffff2b;
    min-height: 50px;
}

input:focus, button:focus, select:focus {
    outline: none;
}

.container {
    max-width: 1375px;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.flex {
    display: flex;
    width: auto;
}

.flex .flex-inner {
    display: block;
    width: 100%;
}

.align-right {
    text-align: right;
}



.selected-geo .geo-selector li:before,
header .user-urls:before {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 20px;
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid #fff;
}


.top {
    -webkit-box-shadow: 0px 7px 11px 0px rgba(0,0,0,0.14);
    box-shadow: 0px 7px 11px 0px rgba(0,0,0,0.14);
}


.top .options:nth-child(2){
    text-align: right;
}

.top .options{
    padding: 0px;
    margin: 25px 0px 30px 0px;
}


.top .options li {
    padding: 0px;
    margin:0px 15px 0 0;
    list-style: none;
    display: inline-block;
    font-size: 13px;
}

.top .options li i {
    font-size: 16px;
    margin-right: 5px;
    color: #183153;
}


.top .right-options li:last-child {
    margin-right: 0px;
}




.top .options li a {
    color: black;
    text-decoration: none;
}

.top .options li a span {
    font-weight: 700;
}

header {
    margin-top: 30px;
}


header .logo {
    display: block;
    max-width: 240px;
}

header .logo img {
    object-fit: cover;
    width: 100%;
}

header  .middle .flex-inner:nth-child(1) {
    max-width: 250px;
}




header .description
{
    text-transform: uppercase;
    display: block;
    border-left: solid 1px #ccc;
    font-size: 14px;
    color: #256892;
    font-weight: 700;
    margin: 0 0 5px 15px;
    padding: 5px 0 5px 15px;
    max-width: 220px;
}


header .middle .flex-inner:nth-child(2) {
    max-width: 240px;
}


header .phones
{
    display: block;
    font-size: 14px;
    color: #faae15;
    font-weight: 700;
    margin: 6px 10px 0 10px;
}

header .phones span {
    font-size: 22px;
    display: block;
}


header  .middle .flex-inner:nth-child(3) {
    max-width: 220px;
}

header .call-order
{
    display: block;
    font-size: 14px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    background: var(--bs-button-bg-darck);
    border-radius: 30px;
    border: none;
    padding: 15px;
    min-width: 220px;
    text-align: center;
    margin: 5px auto;
    cursor: pointer;

}


header .call-order:hover
{
    background: #164766;
    -webkit-transition: background 1s; /* For Safari 3.0 to 6.0 */
    transition: background 2s; /* For modern browsers */
}



header  .middle .flex-inner:nth-child(4) {
    max-width: 230px;
}


header .checker-and-gate
{
    display: block;
    padding: 0px;
    margin: 20px 0 0 0;
}


header .checker-and-gate li
{
    display: inline-block;
    list-style: none;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 700;
    margin-left: 10px;
    position: relative;
}

header .checker-and-gate li i {
    margin-right: 2px;
    font-size: 20px;
    color: #faad19
}


header .checker-and-gate li a {
    color: #000;
    text-decoration: none;
}

header nav {
    background: var(--bs-blue);
    margin-top: 30px;
}


header nav.fixed {
    position: fixed;
    z-index: 10;
    width: 100%;
    top: 0px;
    margin-top: 0px;
    -webkit-box-shadow: 0px 7px 11px 0px rgba(0,0,0,0.14);
    box-shadow: 0px 7px 11px 0px rgba(0,0,0,0.14);
}



header nav .catalog-menu-title {
    display: block;
    background: #225f7e;
    color: #fff;
    text-transform: uppercase;
    padding: 20px;
    padding: 20px 0 20px 20px;
    margin: 0px;
    font-size: 16px;
    width: 345px;
    cursor: pointer;
}

header nav .flex .catalog-menu-wrapper {
    width: auto;
}

header nav .catalog-menu-title .butter-button {
    display: block;
    width: 28px;
    float: left;
    margin: 3px 15px 0 0;
}

header nav .catalog-menu-title .butter-button span {
    display: block;
    height: 2px;
    background: #fff;
    width: 100%;
    margin-bottom: 3px;
}

header nav .catalog-menu-title .butter-button span:nth-child(2) {
    width: 90%;
}


header nav .catalog-menu-title .butter-button span:nth-child(3) {
    width: 80%;
}



header nav .brands-menu-title {
    display: block;
    color: #fff;
    text-transform: uppercase;
    padding: 20px;
    margin: 0px;
    font-size: 14px;
    cursor: pointer;
}

header nav .flex-inner:nth-child(2) {
    max-width: 10px;
}



header nav .main-search .form-element {
    display: block;
    position: relative;
    /* width: 455px; */
}

header nav .main-search .form-element input
{
    display: block;
    /*padding: 16px 25px;*/
    padding: 16px;
    border-radius: 30px;
    border: none;
    width: 96%;
    margin: 0.3rem;
    position: relative;
    z-index: 1;
}

header nav .main-search input::-webkit-input-placeholder{ /* Edge */
    text-transform: uppercase;
    font-size: 12px;
}

header nav .main-search input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    text-transform: uppercase;
    font-size: 12px;
}

header nav .main-search input::placeholder {
    text-transform: uppercase;
    font-size: 12px;
}

header nav .main-search .form-element .button {
    position: absolute;
    z-index: 2;
    right: -10px;
    top: 4px;
    font-size: 25px;
    border-radius: 0 30px 30px 0;
    color: #225f7e;
    background: #fff;
    border: none;
    padding: 8px;
}


header nav .flex .fav-scale-wrapper {
    width: 50%;
}


header nav .compare-and-favorite {
    display: block;
    padding: 0px;
    margin: 20px 0px 0px 18px;
    text-align: center;

}




header nav .compare-and-favorite li {
    font-size: 12px;
    cursor: pointer;
    color: #fff;
    text-transform: uppercase;
    list-style: none;
    display: inline-block;
    font-weight: 700;
    margin-right: 15px;
}

header nav .compare-and-favorite li a {
    color: #fff;
    text-decoration: none;
}



header nav .cart {
    cursor: pointer;
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    text-decoration: none;
    font-weight: bold;
    position: relative;
    display: block;
    margin-top: 20px;
    float: right
}

header nav .cart i {
    font-size: 20px;
    color: #ffffff;
}

header nav .cart .cur {
    font-size: 10px;
    padding-left: 3px;
}



header nav .cart .counter {
    width: 11px;
    height: 11px;
    border-radius: 100%;
    padding:2px;
    background: #f3800d;
    display: block;
    position: absolute;
    z-index: 2;
    font-size: 9px;
    text-align: center;
    top: -10px;
    left: 15px;
}



header nav .flex-inner:nth-child(5) {
    max-width: 115px;
}


header .user-urls {
    position: absolute;
    z-index: 999;
    margin: 0px;
    border:
            solid 1px #d2d2d2;
    border-radius: 15px;
    -webkit-filter: drop-shadow(0 2px 8px #bfbfbf);
    filter: drop-shadow(0 0px 8px #bfbfbf);
    padding: 15px;
    background: white;
    min-width: 235px;
    text-align: left;
    right: 0px;
}

header .user-urls:before {
    left: 20px;
}

header .user-urls li {
    display: block;
    text-transform: none;
    padding: 7px;
    margin-left: 10px;
    margin-right: 10px;
}

header .user-urls li:first-child {
    border-bottom: solid 1px #ebebeb;
    font-size: 16px;
}


header .user-urls li:last-child {
    border-top: solid 1px #ebebeb;
    font-size: 16px;
}


header .checker-and-gate li:last-child:hover > .user-urls {
    display: block;
}



.top-block .container .left-bar {
    background: var(--bs-gray-bg);
}


.top-block .fast-url {
    padding: 0px;
    margin: 10px auto;
}

.top-block .fast-url li {
    list-style: none;
    display: block;
    margin: 5px 15px 15px 15px;
}

.top-block .fast-url li a {
    padding: 5px  5px  5px 40px;
    display: block;
}

.top-block .fast-url li a {
    background: left center no-repeat;
}



.top-block .left-bar {
    max-width: 365px;
}


.top-block .slider-block {
    margin-top: 15px;
    padding-left: 15px;
}



.top-block  .banners {
    margin-top: 15px;
}


.top-block  .banner {
    background: #F5F5F5;
    width: 32%;
    height: 188px;
    margin: auto;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    margin-right: 15px;
}

.top-block  .banner:hover {
    color: unset;
}


.top-block  .banner:last-child {
    margin-right: 0px;
}

.top-block  .blue_and_gray:before,
.top-block  .blue_and_gray:after
{
    display: block;
    content: "";
    position: absolute;
    z-index: 1;
    width: 420px;
    height: 80px;
    background: #2a6f94;
    transform: rotate(160deg);
    top: -47px;
    left: -100px;
}

.top-block  .blue_and_gray:after {
    transform: rotate(160deg);
    bottom: -47px;
    right: -100px;
    top: unset;
    left: unset;
}


.top-block  .blue_and_gray h4 {
    z-index: 3;
    font-size: 50px;
    font-weight: 700;
    color: var(--bs-yellow);
    margin: 30px 0 0 30px;
    font-family: Verdana, Arial;
}

.top-block  .blue_and_gray p {
    z-index: 3;
    margin: 0 0 5px 30px;
    padding: 0px;
}

.top-block  .blue_and_gray p.line2{
    font-size: 25px;
    font-weight: 700;
}


.top-block  .banner .banner-img-wrapper {
    position: absolute;
    bottom: 5px;
    right: 20px;
    z-index: 2
}

.top-block  .yell_percent_bg {
    background: #eab732;
}

.top-block  .yell_percent_bg h4 {
    font-size: 25px;
    font-weight: 700;
    margin: 30px 0 20px 30px;
}

.top-block  .yell_percent_bg p {
    margin: 0 0 0 30px;
}


.top-block  .yell_percent_bg:after {
    content: "%";
    position: absolute;
    z-index: 1;
    font-size: 200px;
    left: 0px;
    right: 0px;
    top: -35px;
    text-align: center;
    color: #ffffff14;
    display: block;
}




.top-block  .bg_image:after {
    content: " ";
    position: absolute;
    z-index: 2;
    left: 0px;
    right: 0px;
    top:0px;
    bottom: 0px;
    background: #fff;
    opacity: 0.7;
}

.top-block  .bg_image h4 {
    font-size: 22px;
    z-index: 4;
    margin: 30px 0 0 30px;
}

.top-block  .bg_image span{
    z-index: 4;
    display: block;
    width: 50px;
    height: 20px;
    position: absolute;
}

.top-block  .bg_image span.ang-1 {
    left: 5px;
    top: 5px;
    border-top: solid 5px #000;
    border-left: solid 5px #000;
    border-radius: 5px 0 0 0;
}

.top-block  .bg_image span.ang-2 {
    right: 5px;
    top: 5px;
    border-top: solid 5px #000;
    border-right: solid 5px #000;
    border-radius: 0 5px 0 0;

}

.top-block  .bg_image span.ang-3 {
    left: 5px;
    bottom: 5px;
    border-bottom: solid 5px #000;
    border-left: solid 5px #000;
    border-radius: 0 0 0 5px;
}

.top-block  .bg_image span.ang-4 {
    right: 5px;
    bottom: 5px;
    border-bottom: solid 5px #000;
    border-right: solid 5px #000;
    border-radius: 0 0 5px 0;
}


.top-block  .bg_image span.play {
    width: 60px;
    height: 45px;
    background: #b3582b;
    border-radius: 8px;
    right: 30px;
    bottom: 30px;
}

.top-block  .bg_image span.play:after {
    position: absolute;
    content: " ";
    width: 0;
    height: 0;
    border-top: 11px solid transparent;
    border-bottom: 11px solid transparent;
    border-left: 11px solid white;
    left: 0px;
    right: 0px;
    top: 12px;
    margin: 0 auto;
}



/*.top-block  .bg_image_2, .top-block,  .bg_image_2 .banner-img-wrapper  {*/
/*    position: relative;*/
/*    overflow: hidden;*/
/*}*/



/*.top-block  .bg_image_2 .banner-img-wrapper img {*/
/*    position: absolute;*/
/*    left: 0px;*/
/*    right: 0px;*/
/*    top: 0px;*/
/*    bottom: 0px;*/
/*    opacity: 0.8;*/
/*}*/

/*.top-block  .bg_image_2 h4 {*/
/*    font-size: 22px;*/
/*    z-index: 4;*/
/*    margin: 5% 5% 5% 0;*/
/*    background: #ffffff69;*/
/*    border-radius: 0  10px 10px 0;*/
/*    padding: 15px;*/
/*    text-align: center;*/
/*    text-transform: uppercase;*/
/*}*/



/*.top-block  .bg_image_2 p{*/
/*    z-index: 4;*/
/*    position: relative;*/
/*    padding: 0px;*/
/*    margin: 0 5% 2px 5%;*/
/*    background: #ffffff69;*/
/*    text-align: center;*/
/*    border-radius: 5px;*/
/*    padding: 5px;*/
/*}*/


.top-block  .bg_image_2 {
    background: var(--bs-yellow);
    border-bottom: 1px solid #e19b05fa;
}

.top-block  .bg_image_blue {
    background: #256892;
    border-bottom: 1px solid #0c638fc9;
}

.top-block  .bg_image_grey {
    background: #b8b7b582;
    border-bottom: 1px solid #adacaade;
}



.top-block  .bg_image_2 .buble-1,
.top-block  .bg_image_2 .buble-2,
.top-block  .bg_image_2 .buble-3,
.top-block  .bg_image_2 .buble-4,
.top-block  .bg_image_blue .buble-1,
.top-block  .bg_image_blue .buble-2,
.top-block  .bg_image_blue .buble-3,
.top-block  .bg_image_blue .buble-4,
.top-block  .bg_image_grey .buble-1,
.top-block  .bg_image_grey .buble-2,
.top-block  .bg_image_grey .buble-3,
.top-block  .bg_image_grey .buble-4
{
    background: #b38713a1;
    z-index: 2;
    position: absolute;
    border-radius: 100%;
    display: block;
}


.top-block  .bg_image_2 .buble-1,
.top-block  .bg_image_blue .buble-1,
.top-block  .bg_image_grey .buble-1
{
    width: 50px;
    height: 50px;
    top:  -25px;
    left: 15%;
}
.top-block  .bg_image_2 .buble-2,
.top-block  .bg_image_blue .buble-2,
.top-block  .bg_image_grey .buble-2
{
    width: 80px;
    height: 80px;
    bottom: -40px;
    left: -40px;
}


.top-block  .bg_image_2 .buble-3,
.top-block  .bg_image_blue .buble-3,
.top-block  .bg_image_grey .buble-3
{
    width: 30px;
    height: 30px;
    right: 35%;
    bottom: 35%;
}


.top-block .bg_image_2  .banner-text,
.top-block .bg_image_blue  .banner-text,
.top-block .bg_image_grey  .banner-text
{
    position: absolute;
    z-index: 3;
    padding: 0px;
    margin: 0px;
    display: block;
}

.top-block .bg_image_2 .line-1,
.top-block .bg_image_blue .line-1,
.top-block .bg_image_grey .line-1
{
    color: #FFFFFF;
    background: var(--bs-yellow);
    text-shadow: #252020 1px 0.5px 0;
    padding: 6px 10px 5px 15px;
    left: 0;
    top: 3%;
    border-radius: 0px;
    text-transform: uppercase;
    border-right: solid 5px #000;
    font-weight: 700;
    font-size: 15px
}

.top-block .bg_image_2 .line-1 {
    background: var(--bs-yellow);
    border-right: solid 15px #e19b05fa;
}

.top-block .bg_image_blue .line-1 {
    background: var(--bs-blue);
    border-right: solid 15px #3f84a7;
}

.top-block .bg_image_grey .line-1 {
    background: #e2e1e1;
    border-right: solid 15px #c6c5c4;
}

.top-block .bg_image_2:hover .line-1,
.top-block .bg_image_blue:hover .line-1,
.top-block .bg_image_grey:hover .line-1 {
    -webkit-box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.20);
    box-shadow: 0px 3px 3px 0px rgb(0 0 0 / 20%);
}



.top-block .bg_image_2 .line-2,
.top-block .bg_image_blue .line-2,
.top-block .bg_image_grey .line-2
{
    color: #222;
    left: 5%;
    top: 10%;
    padding: 3px;
    color: #fff;
    text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.7);
    font-weight: 700;

}


.top-block .bg_image_2 .line-3,
.top-block .bg_image_blue .line-3,
.top-block .bg_image_grey .line-3
{
    color: #222;
    left: 5%;
    top: 25%;
    padding: 3px;
    color: #fff;
    text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.7);
}


.top-block .bg_image_2 .line-4,
.top-block .bg_image_blue .line-4,
.top-block .bg_image_grey .line-4
{
    color: #222;
    left: 5%;
    top: 40%;
    padding: 3px;
    color: #fff;
    text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.7);
}


.top-block  .bg_image_blue .buble-1,
.top-block  .bg_image_blue .buble-2,
.top-block  .bg_image_blue .buble-3,
.top-block  .bg_image_blue .buble-4 {
    background: #074a6c8f;
}


.top-block  .bg_image_grey .buble-1,
.top-block  .bg_image_grey .buble-2,
.top-block  .bg_image_grey .buble-3,
.top-block  .bg_image_grey .buble-4 {
    background: #adacaade;
}



.top-block .bg_image_2 .bg-img-wrapper {
    width: 88%;
    height: 200px;
    position: absolute;
    overflow: hidden;
    background: white;
    z-index: 1;
    right: 0px;
    border-left: solid 25px #e19b05fa;
    border-bottom: solid 1px #e19b05fa;
    border-top: 1px solid #e19b05fa;
    border-right: 1px solid #e19b05fa;
    border-radius: 0 5px 0 70%
}


.top-block .bg_image_blue .bg-img-wrapper {
    width: 88%;
    height: 200px;
    position: absolute;
    overflow: hidden;
    background: white;
    z-index: 1;
    right: 0px;
    border-left: solid 25px #0c638fc9;
    border-bottom: solid 1px #0c638fc9;
    border-top: 1px solid #0c638fc9;
    border-right: 1px solid #0c638fc9;
    border-radius: 0 5px 0 70%
}


.top-block .bg_image_grey .bg-img-wrapper {
    width: 88%;
    height: 200px;
    position: absolute;
    overflow: hidden;
    background: white;
    z-index: 1;
    right: 0px;
    border-left: solid 25px #adacaade;
    border-bottom: solid 1px #adacaade;
    border-top: 1px solid #adacaade;
    border-right: 1px solid #adacaade;
    border-radius: 0 5px 0 70%
}


.top-block .bg_image_2 .bg-img-wrapper img,
.top-block .bg_image_blue .bg-img-wrapper img,
.top-block .bg_image_grey .bg-img-wrapper img
{
    width: auto;
    height: 100%;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    float: right
}


.top-block .bg_gradient_blue {
    border: solid 1px #0a4b7833
}

.top-block .bg_gradient_blue .circle {
    display: block;
    position: absolute;
    background: #0a4b78;
    width: 55%;
    height: 95%;
    border-radius: 100%;
    z-index: 2;
    top: -25%;
    right: -15%;
    filter: blur(1.5rem);
}

.top-block .bg_gradient_blue .bg-img-wrapper {
    width: 45%;
    position: absolute;
    z-index: 3;
    top: -10px;
    right: -10px;
}

.top-block .bg_gradient_blue .bg-img-wrapper img
{
    width: 100%;
    height: auto;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    float: right
}


.top-block .bg_gradient_blue .line-1 {
    position: absolute;
    z-index: 4;
    top: 20%;
    background: var(--bs-yellow);
    color: black;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 30px;
    padding: 8px 20px;
    font-weight: 700;
    left: 5%;
    -webkit-box-shadow: 0px 6px 10px 1px rgba(0,0,0,0.12);
    box-shadow: 0px 6px 10px 1px rgb(0 0 0 / 12%);
}

.top-block .bg_gradient_blue .line-2 {
    position: absolute;
    z-index: 4;
    top: 40%;
    left: 10%;
}


.top-block .bg_gradient_blue .line-3 {
    position: absolute;
    z-index: 4;
    top: 50%;
    left: 10%;
}

.top-block .bg_gradient_blue .line-4 {
    position: absolute;
    z-index: 4;
    left: 6%;
    display: inline-block;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: 10px;
    text-align: center;
    margin-block-start: 0px;
    margin-block-end: 0px;
    padding: 10px;
    background: #2568921a;
    font-weight: 700;
}


.section {
    margin-top: 50px;
}

.section .front-section-title {
    margin: 0 auto;
    display: flex;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    flex-direction: row;
    justify-content: center;
}

.section .front-section-title:before,
.section .front-section-title:after {
    content: "";
    display: block;
    width: 77px;
    height: 3px;
    margin: 12px 10px 0 10px;
    background: #2a6f94;
}

.section .categories-list {
    display: flex;
    margin-top: 50px;
}

.section .categories-list li {
    margin: 12px;
    border: solid 1px #d2d2d2;
    border-radius: 5px;
    padding: 15px;
    -webkit-box-shadow: 0px 6px 10px 1px rgba(0,0,0,0.12);
    box-shadow: 0px 6px 10px 1px rgb(0 0 0 / 12%);
    text-align: center;
    width: 100%;
}

.section .categories-list li a .img {
    display: block;
    margin: 5px auto;
    width: 100%;
    height: 75px;
    position: relative;
    overflow: hidden;
}

.section .categories-list li a .img img {
    border: none;
    object-fit: cover;
}


.section .categories-list li a strong {
    font-size: 13px;
    display: block;
    padding: 3px;
    margin: auto;
}


.our-company {
    display: block;
    padding-bottom: 60px;
    background: #f4f4f4;
    position: relative;
}

.our-company .overlay-text {
    display: block;
    color: #fbf9f9;
    position: absolute;
    z-index: 1;
    font-size: 150px;
    font-size: clamp(20px, 150px, 150px);
    text-transform: uppercase;
    font-weight: bold;
    left: 0px;
    right: 0px;
    margin: 0px auto;
    text-align: center;
}


.our-company .oc-wrapper {
    z-index: 2;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}




.our-company .oc-wrapper .our-company-row {
    display: flex;
    margin: 20px 0 0 0;
    flex-direction: row;
    justify-content: space-between;
}

.our-company .oc-wrapper .our-company-row .row-oc {
    display: block;
    color: #666666;
}


.our-company .oc-wrapper .our-company-row .row-oc:first-child {
    border-right: #cdcdcd solid 1px;
    padding: 0 20px 0 0;
    min-width: 330px;

}


.our-company .oc-wrapper .our-company-row .row-oc:last-child {
    padding: 0px 0 0 30px;

}



.our-company .oc-wrapper .our-company-row .row-oc .style-15 {
    font-weight: bold;
    font-size: 22px;
    color: #000;
    padding-top: 15px;
    padding-left: 8px;
    font-family: Arial;
}


.our-company .oc-wrapper .our-company-row .oc-info-desc {
    padding: 0px;
    margin: 0px;
}


.our-company .our-company-info-blocks {
    margin-top: 70px;
}

.our-company .our-company-info-blocks .flex-inner {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 10px;
    background: #ffffff03;
    border: solid 1px #d2d2d2;
    border-radius: 5px;
    padding: 15px;
    -webkit-box-shadow: 0px 6px 10px 1px rgb(0 0 0 / 12%);
    box-shadow: 0px 6px 10px 1px rgb(0 0 0 / 12%);
    justify-content: flex-start;
}

.our-company .our-company-info-blocks .flex-inner:hover {
    background: white;
}


.our-company .our-company-info-blocks .img-wrapper {
    display: block;
    float: left;
    margin: 10px auto;
    height: 61px;
    width: 70px;

}

.our-company .our-company-info-blocks .img-wrapper img {
    object-fit: cover;
    width: 100%;
}

.our-company .our-company-info-blocks h3 {
    padding: 0 20px;
    font-weight: normal;
    font-size: 18px;
    margin: 10px auto;
    word-wrap: break-word
}

.our-company .our-company-info-blocks p {
    padding: 5px;
    margin: 0px;
    font-weight: 700;
}

.our-company .container {
    padding-top: 80px;
}



.brands-list-front {
    padding: 0px;
    margin: 30px 0 0 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.brands-list-front li {
    list-style: none;
    display: block;
    margin: 30px
}

.brands-list-front li .img {
    width: 150px;
    height: 50px;
    position: relative;
    display: block;
    padding: 0;
}

.brands-list-front li .img img{
    object-fit: cover;
}



.popular-products .container .own-brands {
    display: block;
    margin-top: 30px;
}

.popular-products .container  .own-brands h2 {
    text-transform: uppercase;
    display: block;
    margin: 0px auto;
    text-align: center;
    padding: 12px;
    font-size: 18px;
    font-weight: 700;
}

.popular-products .container  .own-brands .own-brands-list {
    display: flex;
    padding: 0px;
    margin: 0px;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.popular-products .container  .own-brands .own-brands-list li {
    display: inline-block;
    list-style: none;
    margin: 10px;
}

.popular-products .container  .own-brands .own-brands-list li .img {
    /*width: 50%;*/
}
.popular-products .container  .own-brands .own-brands-list li .img img {
    object-fit: cover;
    width: 100%;
}


.useful  .flex .flex-inner  {
    /*border: solid 1px aqua;*/
    margin-top: 30px;
}

.useful  .flex .flex-inner  h2 {
    padding: 0px;
    margin: 12px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
}


.useful  .flex .flex-inner:last-child img{
    object-fit: cover;
    width: 80%;
    float: right;
    margin-right: 20px;
}


.useful  .flex .flex-inner  .faq-list {
    padding: 0px;
    margin: 0px;
}

.useful  .flex .flex-inner  .faq-list li{
    padding: 0px;
    margin: 0px;
    list-style: none;
}

.useful  .flex .flex-inner  .faq-list li .faq-question {
    display: block;
    background: #f4f4f4;
    background: rgb(243,243,243);
    background: linear-gradient(180deg, rgba(243,243,243,1) 0%, rgba(229,229,229,1) 63%, rgba(229,229,229,1) 100%);
    margin: 10px;
    padding: 20px 42px 20px 20px;
    font-weight: 700;
    position: relative;
    cursor: pointer;
    border-radius: 5px;
    -webkit-box-shadow: 0px 4px 2px 0px rgba(0,0,0,0.20);
    box-shadow: 0px 4px 2px 0px rgba(0,0,0,0.20);

}

.useful  .flex .flex-inner  .faq-list li .faq-question:hover {
    -webkit-box-shadow: 0px 4px 2px 0px rgba(0,0,0,0.30);
    box-shadow: 0px 4px 2px 0px rgba(0,0,0,0.30);
}

.useful  .flex .flex-inner  .faq-list li .faq-question:after,
.useful  .flex .flex-inner  .faq-list li .faq-question:before {
    content: "";
    display: block;
    width: 26px;
    height: 4px;
    background: #2a6f94;
    /*     float: right;
        margin-top: 8px; */

    position: absolute;
    right: 12px
}

.useful  .flex .flex-inner  .faq-list li .faq-question:after {
    right: 12px;
    top: 30px
}

.useful  .flex .flex-inner  .faq-list li .faq-question:before {
    top: 30px;
    transform: rotate(90deg);
}

.useful  .flex .flex-inner  .faq-list li .faq-answer {
    display: none;
    background: #f9f9f9;
    margin: 0 10px 20px 10px;
    padding: 20px 30px;
    border-radius: 0 30px 30px 30px;
}

.useful  .flex .flex-inner  .faq-list li.faq-show .faq-answer {
    display: block;
}

.useful  .flex .flex-inner  .faq-list li.faq-show .faq-question:before {
    display: none;
}

.useful  .flex .flex-inner  .faq-list li.faq-show .faq-question:after {
    margin-right: 0px;
}


.front-contacts  {
    position: relative;
    -webkit-box-shadow: 0px 12px 13px 0px rgba(34, 60, 80, 0.29);
    -moz-box-shadow: 0px 12px 13px 0px rgba(34, 60, 80, 0.29);
    box-shadow: 0px 5px 5px 0px rgb(34 60 80 / 20%);
}

.front-contacts span {
    display: block;
    z-index: 1;
    position: absolute;
    top: 50px;
    bottom: 0px;
    width: 50%;
}

.front-contacts span.left-bg {
    background: #f9f9f9;
    left: 0px;
}

.front-contacts span.right-bg {
    background: #f2f2f1;
    right: 0px;
}

.front-contacts .container .flex-inner {
    width: 50%;
    margin-top: 30px;
    position: relative;
    z-index: 2;
}

.front-contacts .container .flex-inner h2 {
    padding: 0px;
    margin: 25px 40px 20px 40px;
    font-size: 22px;
    font-weight: bold;
}

.front-contacts .container .flex-inner .phones {
    margin: 0 40px 20px 40px;
}

.front-contacts .container .flex-inner .phones .title {
    color: #666666;
}


.front-contacts .container .flex-inner .phones .phone {
    color: #000000;
    font-weight: bold;
    margin-bottom: 10px;
}

.front-contacts .container .flex-inner .phones .phone i {
    font-size: 12px;
    margin: -2px 5px 0 0;
    transform: rotate(90deg);
}

.front-contacts .container .flex-inner .more-info-block {
    margin: 0 40px 40px 40px;
    background: #f8a80a;
    padding: 15px 15px 15px 60px;
    border-radius: 5px;
    position: relative;
    text-align: left;
}

.front-contacts .container .flex-inner .more-info-block .icon-info {
    display: block;
    background: #fff;
    position: absolute;
    left: 12px;
    top: 12px;
    width: 36px;
    height: 36px;
    border-radius: 100%;
    color: #000;
    text-align: center;
}

.front-contacts .container .flex-inner .more-info-block .icon-info span {
    position: absolute;
    top: 5px;
    width: 100%;
    text-align: center;
    font-size: 18px;
}


.front-contacts .container .flex-inner .more-info-block h3 {
    font-size: 17px;
    padding: 0px;
    margin: 0px;
}

.front-contacts .container .flex-inner .more-info-block .more-list {
    padding: 0px;
    margin: 10px 10px 10px 0px;
    list-style: none;
}

.front-contacts .container .flex-inner .more-info-block .more-list li {
    margin-bottom: 5px;
}

.front-contacts .container .flex-inner .more-info-block .more-list li:last-child {
    margin-bottom: 0px;
}


.callback-form {
    margin: 30px 40px 40px 40px;
    display: block;
}

.callback-form input {
    background: #fff;
    border: solid 1px #f2f2f1;
    border-radius: 3px;
    padding: 15px;
    margin-bottom: 15px;
    display: block;
    width: calc(100% - 30px);
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.14);
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.14);
}

.front-contacts  input {
    box-shadow: none;
}

.callback-form .form-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 20px;
}


.callback-form .button {
    display: block;
    border-radius: 30px;
    border: solid 1px #296e93;
    background: #296e93;
    padding: 10px;
    width: 50%;
    color: #fff;
    font-size: 16px;
}

.callback-form .conf-policy {
    display: block;
    width: 50%;
    padding: 5px 10px 0 30px;
    font-size: 12px;
}


.be-partner {
    margin-top: 0px;
    padding: 40px 0 30px 0;
    z-index: 2;
}

 .be-partner:after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0px;
    left:0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background: url("../images/bg.jpg");
    background-size: 300px, 300px;
    opacity: 0.2;
    z-index: 1;
}

.be-partner .container .flex-inner {
    position: relative;
    z-index: 2
}

.be-partner .container .flex-inner h2{
    display: block;
    text-align: center;
    padding: 0px;
    margin: 0px;
    font-size: 30px;
}

.be-partner .container .flex-inner h2 span{
    color: #f8a80a;
}

.be-partner .container .callback-form {
    max-width: 580px;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 60px;
}

.be-partner .container .flex-inner p {
    text-align: center;
    color: #3e3e3e;
}

.be-partner .container .flex-inner form .button {
    background: #f8a80a;
    border-color: #f8a80a;
    color: #000;
}


footer {
    position: relative;
}

/* footer:after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0px;
    left:0px;
    right: 0px;
    top: 7px;
    bottom: 0px;
    background: url("../images/bg.jpg");
    background-size: 300px, 300px;
    opacity: 1;
    z-index: 1;
} */



.card {
    padding: 30px;
    margin: 0 0 50px 0;
    border-radius: 20px;
    border: solid 1px #d2d2d2;
    -webkit-box-shadow: 0px 3px 8px 1px rgb(0 0 0 / 18%);
    box-shadow: 0px 3px 8px 1px rgb(0 0 0 / 18%);
}


footer .section {
    margin-top: 0px;
    position: relative;
    z-index: 2;
}


footer .footer-subscribe {
    background: #156080;
    border-top: solid 1px #0000008a;
    border-bottom: solid 1px #00000026;
}

footer .footer-menus {
    background: #156080;
}


footer .footer-subscribe .container .flex-inner {
    width: 50%;
}


footer .footer-subscribe .container .flex-inner p {
    color: #fff;
    font-size: 14px;
    padding: 0px;
    margin: 20px 0 0 0;
}

footer .footer-subscribe .container .flex-inner p span {
    color: #f8a80a;
    margin-right: 5px;
    font-size: 16px;
}

footer .footer-subscribe .container .flex-inner input {
    padding: 5px 15px 5px 15px;
    background: #fff;
    border: solid 1px #fff;
    border-radius: 30px;
    display: inline-block;
    margin: 14px 10px 15px 0;
    width: 60%;
}

footer .footer-subscribe .container .flex-inner .button{
    display: inline-block;
    border-radius: 30px;
    background: #f8a80a;
    border: solid 1px #f8a80a;
    padding: 5px 15px 5px 15px;
    color: #000;
    width: 30%;
}

.footer-menus .container{
    justify-content: space-between;
}

.footer-menus .container .flex-inner h3{
    color: #f8a80a;
    padding: 0px;
    margin: 20px 0 5px 0;
    font-size: 14px;
    font-weight: bold;
}

.footer-menus .container .flex-inner .footer-menu-list {
    margin: 0 0 50px 0;
    padding: 0px;
    color: #fff;
}

.footer-menus .container .flex-inner .footer-menu-list li {
    list-style: none;
    display: block;
}

.footer-menus .container .flex-inner .footer-menu-list li a {
    color: #fff;
    font-size: 12px;
}

.cloned-main-search {
    display: none;
}

body main {
    min-height: 70vh;

}

nav.logined-account-options-list  ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

nav.logined-account-options-list  ul li {
    width: calc(50% - 15px);
    margin-bottom: 30px;
    margin-right: 30px;
    position: relative;
}

nav.logined-account-options-list  ul li:nth-child(2n){
    margin-right: 0px;
}

nav.logined-account-options-list  ul li .account-option-block {
    border:solid 1px #d2d2d2;
    border-radius: 5px;
    -webkit-box-shadow: 0px 6px 10px 1px rgba(0,0,0,0.12);
    box-shadow: 0px 6px 10px 1px rgb(0 0 0 / 12%);
    display: block;
    width: 100%;
    min-height: 220px;
    position: relative;
}

nav.logined-account-options-list  ul li .account-option-block .wrapper {
    margin: 40px;
}

nav.logined-account-options-list  ul li .account-option-block .wrapper h4 {
    font-size: 25px;
}

nav.logined-account-options-list  ul li .account-option-block .wrapper .button {
    background: #f8a80a;
    border-color: #f8a80a;
    color: #000;
    border-radius: 30px;
    padding: 10px;
    display: block;
    max-width: 130px;
    text-align: center;
    font-weight: 700;
    margin-top: 15px;
    font-size: 16px;
    text-transform: uppercase;
}

nav.logined-account-options-list  ul li .account-option-block .icon-wrapper {
    position: absolute;
    z-index: 2;
    right: 20px;
    bottom: 10px;
}

nav.logined-account-options-list  ul li .account-option-block .icon-wrapper i {
    font-size: 140px;
    color: #cfcfcf;
}

.cntool-main-title {
    display: block;
    margin: 20px 0 20px 0;
}

.social-media-list li {
    display: inline-block;
}

.social-media-list li img {
    width: 50px;
    height: auto;
}

.social-media-list li:hover img {
    opacity: 0.8;
}

.cntools-entry-title {
    display: block;
    font-size: 25px;
    margin: 30px 0 30px 0;
}

.loader-wrapper {
    display: block;
    margin: 0px auto;
    padding-bottom: 30px;
    text-align: center;
}

.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    position: relative;
    animation: rotate 1s linear infinite
}
.loader::before , .loader::after {
    content: "";
    box-sizing: border-box;
    position: absolute;
    inset: 0px;
    border-radius: 50%;
    border: 5px solid #197097;
    animation: prixClipFix 2s linear infinite ;
}
.loader::after{
    transform: rotate3d(90, 90, 0, 180deg );
    border-color: #faae15;
}

@keyframes rotate {
    0%   {transform: rotate(0deg)}
    100%   {transform: rotate(360deg)}
}

@keyframes prixClipFix {
    0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
    50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
    75%, 100%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
}

.relative {
    position: relative;
}

.global-dropdown {
    position: absolute;
    padding: 10px;
    border:solid 1px #d2d2d2;
    border-radius: 15px;
    -webkit-box-shadow: 0px 1px 10px 1px rgba(0,0,0,0.18);
    box-shadow: 0px 1px 10px 1px rgb(0 0 0 / 18%);
    display: none;
    z-index: 9999;
    background: #fff;
    min-width: 235px;
    text-align: left;
    left: 0px;
    top: 70px;
    max-height: 400px;
    overflow-y: auto;
    width: 100%;
}

.global-dropdown:before{
    /*     display: block;
        content: "";
        position: absolute;
        z-index: 99991;
        left: 30px;
        top: -20px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 15px 30px 15px;
        border-color: transparent transparent #ffffff transparent; */

    content: "";
    position: absolute;
    bottom: 100%;
    left: 20px;
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid #fff;
    top: -20px;
    z-index: 9999;

}



.global-dropdown .loader-wrapper {
    max-width: 100px;
    margin: 100px auto;

}


.global-dropdown .categories-list {
    display: block;
    border-right: solid 1px var(--bs-yellow);
    max-width: 350px;
    text-align: right;
    margin: 20px;
}

.global-dropdown .categories-list li {
    margin: 5px 10px;
    padding: 10px;
}

.global-dropdown .categories-list li .img {
    width: 100px;
    display: block;
    margin: auto;
    padding: 5px
}

.global-dropdown .categories-list li .img img {
    object-fit: cover;
    width: 100%;
}


label input[type="checkbox"], label input[type="radio"] {
    display: none!important; /* Hide the default checkbox */
}

label span {
    height: 14px;
    width: 14px;
    background: white;
    display: inline-block;
    border-radius: 3px;
    position: relative;
    margin-right: 10px;
    border: solid 1px var(--bs-grey-border);
    font-size: 16px
}

label span.radio {
    height: 14px;
    width: 14px;
    background: white;
    display: inline-block;
    border-radius: 100%;
    position: relative;
    margin-right: 10px;
    border: solid 1px var(--bs-grey-border);
    font-size: 16px
}

[type=checkbox]:checked + span, [type=radio]:checked + span{
    background: var(--bs-yellow);
    border: solid 1px var(--bs-yellow);
}

[type=checkbox]:checked + span:before, [type=radio]:checked + span:before {
    content: '\2714';
    position: absolute;
    top: -2px;
    left: 1px;
}





.selected-geo {
    position: relative;
}


.selected-geo .geo-selector {
    position: absolute;
    z-index: 9999;
    right: -20%;
    display: none;
    padding-top: 20px;
}

.selected-geo .geo-selector li {
    margin: 0px;
    border:solid 1px #d2d2d2;
    border-radius: 15px;
    -webkit-filter: drop-shadow(0 2px 8px #bfbfbf);
    filter: drop-shadow(0 0px 8px #bfbfbf);
    padding: 15px;
    background: white;
}


.confirm-city-text {
    text-align: center;
}

.confirm-city-text .selected-city {
    display: block;
    margin: 10px 0px;
    font-weight: bold;
}

.selected-geo:hover .geo-selector {
    display: block;
}


.page-numbers {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 30px;
}

.page-numbers li {
    display: block;
    margin: 5px;
}

.page-numbers li .page-numbers {
    padding: 14px 8px;
    background: white;
    border-radius: 100%;
    min-width: 30px;
    min-height: 18px;
}

.page-numbers li .current, .page-numbers li .page-numbers:hover {
    background: var(--bs-yellow);
    color: white;
}


.breadcrumb_last {
    color: var(--bs-yellow);
}