

@media (max-width: 1405px)  {
    header nav .compare-and-favorite li a span,
    header .checker-and-gate li:nth-child(1) a span{
        display:none;
    }
}




@media (max-width: 1100px)  {

    header .middle .flex-inner:nth-child(2) {
        display: none;
    }
}


@media (max-width: 985px)
{
    .top, header nav, header .phones,
    header .call-order,
    .top-block .container .left-bar,
    header .middle .flex-inner:nth-child(2),
    header .middle .flex-inner:nth-child(3),
    header .middle .flex-inner:nth-child(4),
    section.our-company .overlay-text,
    section.useful .right-block,
    section.front-contacts .right-bg,
    section.front-contacts .left-bg, .sorter-text
    {
        display: none;
    }

    header .middle .flex-inner:last-child {
        width: auto;
        float: right;
    }

    header .checker-and-gate li a span{
        display:none;
    }


    header .checker-and-gate li:first-child i {
        font-size: 30px;
    }

    header .middle {
        border-bottom: solid 1px var(--bs-grey-border);
    }


    .top-block .slider-block {
        margin-top: 15px;
        padding-left: 0px;
    }

    .our-company .oc-wrapper {
        text-align: center;
    }

    .our-company .oc-wrapper img{
        width: 40%
    }

    section.our-company .oc-wrapper .our-company-row {
        display: flex;
        margin: 20px 0 0 0;
        flex-direction: column;
        justify-content: space-between;
    }

    section.our-company .oc-wrapper .our-company-row .row-oc:first-child {
        border-right: none;
        padding: 0px;
        min-width: unset;
    }

    section.useful  .flex .flex-inner  h2,
    section.front-contacts .container .flex .flex-inner:nth-child(1) h2,
    section.front-contacts .container .flex .flex-inner:nth-child(2) h2,
    section.front-contacts .container .flex .flex-inner:nth-child(1) .phones

    {
        text-align: center;
    }

    section.front-contacts .container .flex,
    section.footer-subscribe .container .flex {
        display: flex;
        flex-direction: column;
    }

    section.front-contacts .container .flex .flex-inner,
    section.footer-subscribe .container .flex .flex-inner {
        width: 100%;
    }

    footer section.footer-subscribe .container .flex .flex-inner input,
    footer section.footer-subscribe .container .flex .flex-inner .button {
        width: 40%;
    }

    footer section.footer-subscribe .container .flex {
        text-align: center;
    }

    section.front-contacts .container .flex .flex-inner:nth-child(1) {
        background: #f9f9f9;
    }



    section.front-contacts .container .flex .flex-inner:nth-child(2) {
        background: #f2f2f1;
    }


    section.front-contacts .callback-form .form-footer,
    section.be-partner .callback-form .form-footer,
    section.footer-menus .container .flex,
    section.top-block  .banners
    {
        display: flex;
        flex-direction: column;
        text-align: center;
    }


    section.front-contacts .callback-form .button, section.front-contacts .callback-form .conf-policy,
    section.be-partner  .callback-form .button, section.be-partner  .callback-form .conf-policy,
    section.top-block  .banners .banner
    {
        width: 100%;
        margin: auto;
    }

    section.top-block  .banners .banner {
        margin-bottom: 20px;
    }

    section.top-block  .banners  .blue_and_gray,
    section.top-block  .banners  .yell_percent_bg,
    section.top-block  .banners  .bg_image,
    section.top-block  .banners  .bg_image_2{
        width: 100%!important;
    }

    section.top-block  .banners .banner h4 {
        margin: 10;
        text-align: left;
        z-index: 10;
    }

    section.top-block  .banners .banner p {
        margin: 10;
        text-align: left;
        z-index: 5;
    }

    section.front-contacts .callback-form .conf-policy,
    section.be-partner  .callback-form .conf-policy {
        padding: 20px 0 0 0;
    }

    section.footer-menus .container .flex .flex-inner h3 {
        font-size: 22px;
    }

    section.footer-menus .container .flex-inner .footer-menu-list li {
        margin-bottom: 15px;
    }

    section.footer-menus .container .flex-inner .footer-menu-list li a {
        font-size: 18px;
    }


    section .container ul.categories-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }


    section .container ul.categories-list li {
        width: calc(50% - 100px);
    }



    .section .front-section-title {
        padding: 0 15px 0 15px;
    }

    .section h2.front-section-title:before,
    .section h2.front-section-title:after {
        content: unset;
    }


    section.front-contacts .container .flex-inner .more-info-block {
        margin: 0 5px 5px 5px;
    }


    .middle .main-burger-menu {
        width: 40px;
        height: 40px;
        float: left;
        display: block;
        margin-right: 15px;
        margin-left: 15px;
        margin-top: 0px
    }

    .middle .main-burger-menu span {
        height: 4px;
        margin: 6px 0  6px 0;
        width: 100%;
        display: block;
        background: #0c88b4;
    }

    header div.middle .flex-inner:nth-child(1) {
        max-width: unset;
        width: 100%;
    }

    header .middle .logo {
        float: left;
        display: block;
        max-width: 180px;
        margin-top: -6px;
    }


    .adaptive {
        margin: 15px 0 0 0;
    }

    .adaptive .inner-first {
        width: 60%;
    }

    header .cloned-main-search {
        display: block;
        margin: 0px 15px 15px 15px;
        font-size: 14px;
    }

    header .cloned-main-search .form-element {
        position: relative;
        display: block;
    }

    header .cloned-main-search  input {
        padding: 10px 15px 10px 15px;
        border-radius: 20px;
        border: solid 1px #315567;
        width: 100%;
    }

    header .cloned-main-search  input::placeholder {
        visibility: hidden;
    }

    header .cloned-main-search .button {
        display: block;
        position: absolute;
        background: #fff;
        border: none;
        top: 10px;
        right: -25px;
        color: #315567
    }

    header .clone-compare-and-favorite {
        display: flex;
        float: left

    }

    header .inner-last {
        width: 40%
    }

    header .clone-compare-and-favorite {
        margin: 7px 0px 0px 5px;
        text-align: center;
        float: right
    }

    header .clone-compare-and-favorite li a span {
        display: none;
    }

    header .clone-compare-and-favorite li a {
        padding: 5px;
        font-size: 26px;
        color: #256892;
    }


    header .clone-cart {
        display: block;
        float: right;
        padding: 0px;
        margin:  7px 0px 0 0;
        position: relative;

    }

    header .clone-cart .cart-sum {
        display: none;
    }

    header .clone-cart i {
        font-size: 26px;
        color: #256892;
    }


    header .clone-cart .counter {
        width: 11px;
        height: 11px;
        border-radius: 100%;
        padding:2px;
        background: #f3800d;
        display: block;
        position: absolute;
        z-index: 2;
        font-size: 9px;
        text-align: center;
        top: -8px;
        right: -6px;
        color: #fff;
    }




    header .middle .checker-and-gate
    {
        display: block;
        padding: 0px;
        margin: 0px 0 0 0;
        width: 90px;
    }

    header .middle .checker-and-gate li {
    }

    header .middle .checker-and-gate li i {
        font-size: 30px!important;
    }

    section.top-block .slider-block {
        padding-left: 0px;
    }



    section.our-company .oc-wrapper .our-company-row .row-oc:last-child {
        padding: 10px 0 0 0px;

    }


    .product-single .flex {
        flex-direction: column;
    }



    div.product-single .product-tabs .product-tabs-control {
        display: flex;
        flex-wrap: wrap;
    }



    div.product-single .flex .product-images .image {
        min-width: 100%;
    }

    div.product-single .flex .product-images .image img {
        object-fit: cover;
        height: 100%;
        width: 100%;
    }



    div.product-single .flex .product-attrs-intro {
        padding-left: 0px;
        padding: 20px;
    }



    div.product-single .flex .product-cart-tools
    {
        max-width: unset;
    }



    .product-get-methods .method-item .get-method-block {
        margin-right: 0px!important;
        margin-bottom: 15px;
    }

    div.product-single .product-tabs .product-tabs-control {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .fixed-product-tabs {
        display: none;
    }

    .flex .properties-wrapper-right {
        max-width: 100%;
        padding-left: 0px;
    }

    .result-count-and-ordering {
        text-align: center;
    }


    .product-filter .flex, .result-count-and-ordering {
        display: flex;
        width: auto;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .product-filter .flex .flex-inner,
    .result-count-and-ordering .flex-inner
    {
        width: 100%!important;
    }



    .products li {
        margin-right: 0px!important;
    }


    .product-filter .cat-item {
        margin: 0 0 10px 0!important;
    }


    .result-count-and-ordering .orderby-wrapper {
        text-align: center;
        margin-top: 10px;
    }


    .related ul.products, .products {
        display: block;
    }


}



@media (max-width: 485px)
{

    section .container ul.categories-list li {
        width: calc(50% - 10px);
        margin: 5px
    }

    section .container ul.categories-list li strong {
        font-size: 10px;
    }
}

@media (max-width: 385px)
{


    header .middle .logo {
        max-width: 120px;
        margin-top: 5px
    }
}