/*font-family: 'Montserrat', sans-serif; Mulish*/
:root {
    --bs-darck:#3f475f;
    --bs-blue:#256892;
    --bs-button-bg-darck:#256892;
    --bs-gray-bg:#f5f5f5;
    --bs-yellow:#f9aa00;
    --bs-green:#4caf50;
    --bs-grey:#f0f0f0;
    --bs-grey-border:#e1e1e1;
    --bs-grey-border-2:#e1e1e1;
    --bs-green-border:#3c8c3f;
    --bs-yellow-border:#f9ad17;
    --bs-text-grey-color:#837d7d;
    --bs-font-base: 'Montserrat', sans-serif;
}