@import "root.css";

.u-columns, .woocommerce-form-track-order {
    display: flex;
    padding: 30px;
    margin: 0 0 50px 0;
    border-radius: 20px;
    border:solid 1px #d2d2d2;
    -webkit-box-shadow: 0px 3px 8px 1px rgb(0 0 0 / 18%);
    box-shadow: 0px 3px 8px 1px rgb(0 0 0 / 18%);
}

.u-columns .u-column1,
.u-columns .u-column2 {
    width: 100%;
}

.form-row {
    display: flex;
    max-width: 500px;
    margin: 30px 0 30px 0;
}

.woocommerce-form-track-order {
    display: block;
    margin-top: 20px
}

.form-row label {
    width: 50%;
    font-weight: 700;
}

.form-row input {
    display: inline-block;
    padding: 8px 18px 8px 18px;
    border-radius: 20px;
    border: #999999 solid 1px;
    width: 100%;

}


.form-row .button {
    display: block;
    border-radius: 30px;
    border: solid 1px #296e93;
    background: #296e93;
    padding: 10px;
    width: 50%;
    color: #fff;
    font-size: 16px;
}



.all-popular {
    text-align: center;
    margin: auto;
    padding: 10px;
    display: block;
    font-size: 12px;
    color: #837e7e;
    border:solid 1px #d2d2d2;
    border-radius: 20px;
    max-width: 100px;
}

.all-popular:hover {
    color: #222;
    cursor: pointer;
}


.products {
    /*display: flex;*/
    /*margin-top: 20px;*/
    /*flex-wrap: wrap;*/
    grid-template-columns: repeat(4, 24.8%);
    display: grid;
    /* grid-template-columns: repeat(auto-fill,minmax(335px,10fr)); */
    grid-gap: 11px;
    grid-auto-flow: dense;
    margin: 20px 0 0 0;
}

.related ul.products {
    display: grid;
    grid-template-columns: repeat(4, 100%);
}

.products-wraped-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.products li {
    border:
            solid 1px #d2d2d2;
    border-radius: 5px;
    -webkit-box-shadow: 0px 6px 10px 1px rgba(0,0,0,0.12);
    box-shadow: 0px 6px 10px 1px rgb(0 0 0 / 12%);
    padding: 15px;
    margin: 0 29px 35px 0;
    /* min-width: 300px; */
    max-width: 290px;
    overflow: hidden;
}

.products li:nth-child(4n) {
    margin-right: 0px;
}


.products li:hover {
    border: solid 1px #19a3e8;
    box-shadow: 0px 6px 10px 1px rgb(0 0 0 / 18%);
}


/*.products li .product-img-wrapper {*/
/*    text-align: center;*/
/*    position: relative;*/
/*    overflow: hidden;*/
/*    text-align: center;*/
/*    width: auto;*/
/*    display: block;*/
/*}*/

/*.products li img {*/
/*    object-fit: cover;*/
/*    width: 99%;*/
/*    min-height:220px;*/
/*    height: 220px;*/
/*    position: absolute;*/
/*}*/

.products li div.main-product-image-wrapper {
    position: relative;
    overflow: hidden;
    width: auto;
    display: block;
    text-align: center;
    height:250px;
    display: flex;
}



.products li div.main-product-image-wrapper img {
    object-fit: cover;
    margin: auto;
    max-height: 200px;
}


.products li a h2 {
    font-size: 14px;
    display: block;
    padding: 0px;
    margin: 5px 0 5px 0;
}



.products li .product-info .product-row{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-top: 10px;
}


.products li .product-info .product-row .col-in{
    display: block;
    width: 48%;

}

.products li .product-info .product-row .col-in .sale-price {
    font-size: 12px;
    color: #545050;
    text-decoration: line-through;
    float: left;
}

.products li .product-info .product-row .col-in .sale-price .sale-prc {
    display: inline-block;
    background: #faae15;
    padding: 3px;
    border-radius: 3px;
    color: #fff;
    margin-left: 5px;
}

.products li .product-info .product-row .col-in:last-child {
    text-align: right;
}

.products li .product-info .product-row .col-in .stock-status {
    font-weight: 700;
    font-size: 12px;
}


.products li .product-info .product-row  .price {
    font-weight: 700;
    font-size: 18px;
}


.products li .product-info .product-row .add-form {
    text-align: right;
}


.products li .product-info .product-row  .add-cart-button {
    display: block;
    border-radius: 30px;
    border:none;
    padding: 7px  15px  7px  15px;
    background: #2a6f94;
    color: #fff;
    border: solid 1px #2a6f94;
    float: right;
    font-size: 12px;
    cursor: pointer;
}


.products li .product-info .product-row  .added_to_cart {
    font-size: 11px;
    text-align: center;
    margin-right: 8px

}



.products li .product-info .product-row  .add-cart-button span {
    display: inline-block;
    margin-right: 7px;
    color: #ffffff;
}

.woocommerce-breadcrumb {
    display: block;
    margin: 15px 0 15px 0;
    color: #5f5f5f;
    font-size: 14px;
}



.product-single .flex h1.product-title {
    display: block;
    font-size: 20px;
    margin: 30px 0 15px 0;
}

.product-single .product-code-and-rate{
    margin: 0px 0 15px 0;
}


.product-single .flex .product-images .thumbs {
    max-width: 110px;
}

.product-single .flex .product-images .image {
    min-width: 510px;
    position: relative;
    overflow: hidden;
    display: block;
    text-align: center;
}

.single-porduct-main-image {
    border: solid 1px var(--bs-grey-border);
}

.product-single .flex .product-images .image img {
    max-width: 60%;
    max-height: 60%;
    width: auto;
    height: auto;

}

.product-single .flex .product-images .thumbs ul.thumbs-list li{
    display: block;
    width: 100px;
    height: 100px;
    overflow: hidden;
    margin-bottom: 5px;
    margin-right: 5px;
    border: solid 1px var(--bs-grey-border);
}




.product-single .flex .product-attrs-intro {
    padding-left: 20px;
    font-size: 13px
}

.product-single .flex .product-attrs-intro strong {
    padding-left: 18px;
}

.product-single .flex .product-attrs-intro strong i {
    color: #256892;
    margin-right: 4px
}


.product-single .flex .product-attrs-intro  .attrs-intro-list {
    margin: 20px;
}

.product-single .flex .product-attrs-intro  .attrs-intro-list li {
    color: #5c5858;
    margin-bottom: 10px;
}

.product-single .flex .product-cart-tools,
.cart-wrapper .product-cart-tools
{
    max-width: 315px;
}


.offers-list-wrapper {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    align-items: stretch;
}

.offers-list-wrapper .product-cart-tools {
    width: 100%!important;
    max-width: unset!important;
    margin-bottom: 10px;
    margin-top: 10px;
}


.product-single .flex .product-cart-tools .cart-block,
.cart-wrapper .product-cart-tools .cart-block
{
    display: block;
    padding: 20px;
    margin: 0 0 0px 0;
    border-radius: 10px;
    border:
            solid 1px #d2d2d2;
    -webkit-box-shadow: 0px 3px 6px 1px rgb(0 0 0 / 14%);
    box-shadow: 0px 1px 8px 1px rgb(0 0 0 / 14%);
}

.product-single .flex .product-cart-tools .cart-block .price {
    font-size: 30px;
    font-weight: 700;
    padding: 5px;
}


.product-single .flex .product-cart-tools .cart-block .sale {
    font-size: 25px;
    text-decoration: line-through;
    color: #969696;
    padding: 5px;
}

.product-single .flex .product-cart-tools .cart-block .add-cart-button,
.cart-wrapper .product-cart-tools .checkout-button,
.product-single .flex .product-cart-tools .cart-block .quick-shop-button,
.cart-wrapper .product-cart-tools .cart-block .unsign-checkout-button
{
    display: block;
    font-size: 18px;
    background: var(--bs-yellow);
    color: black;
    padding: 17px;
    border: solid 1px var(--bs-yellow);
    border-radius: 30px;
    font-weight: 700;
    margin: 5px 5px 10px 5px;
    width: calc(100% - 10px);
    cursor: pointer;
}

.product-single .flex .product-cart-tools .cart-block .quick-shop-button,
.cart-wrapper .product-cart-tools .cart-block .unsign-checkout-button {
    background: white;
    color: #1c6c8c;
    border: solid 1px #1c6c8c;
}


.cart-wrapper .product-cart-tools .cart-block .unsign-checkout-button,
.cart-wrapper .product-cart-tools .checkout-button {
    text-align: center;
    width: auto;
    font-size: 15px;
}


.product-single .flex .product-cart-tools .cart-block .product-info {
    padding: 20px;
}

.product-single .flex .product-cart-tools .cart-block .product-info li {
    display: block;
    font-size: 14px;
    margin-bottom: 15px;
}

.product-single .flex .product-cart-tools .cart-block .product-info li span {
    font-size: 18px;
    color: var(--bs-yellow);
}






.product-single .sale-price .sale-prc {
    display: inline-block;
    background: #faae15;
    padding: 3px;
    border-radius: 3px;
    color: #fff;
    margin-left: 5px;
}


.product-single .product-tabs {
    margin-top: 70px;
    margin-bottom: 70px;
}

.product-single .product-tabs .product-tabs-control {
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px #9a9a9a;
}

.product-single .product-tabs .product-tabs-control li {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 5px 25px;
    color: #9a9a9a;
}

.product-single .product-tabs .product-tabs-control li:hover,
.product-single .product-tabs .product-tabs-control li.active{
    color: black;
    cursor: pointer;
}


.product-single .product-tabs .product-tabs-control li:hover:after,
.product-single .product-tabs .product-tabs-control li.active:after {
    content: "";
    display: block;
    height: 3px;
    background: #f8a80a;
    width: 100%;
    position: absolute;
    bottom: -2px;
    left: 0px;
    right: 0px;
    z-index: 2;
}


.shop_table th, .shop_table {
    width: 100%;
}


.shop_table th, .shop_table td{
    border-bottom: solid 1px #ccc;
    padding: 10px;
    text-align: left;
}

.coupon {
    display: none;
}

.shop_table th, .shop_table td a img {
    width: 50px;
    height: auto;
}

.shop_table td input[type="number"] {
    width: 50px;
    text-align: center;
    border: solid 1px var(--bs-grey-border);
    padding: 5px 5px 5px 15px;
    border-radius: 20px;
}

.shop_table td.product-name {
    min-width: 200px;
}


.checkout-steps {
    display:  flex;
    list-style: none;
    counter-reset: steps-counter;
    margin-top: 20px;
    margin-bottom: 20px;
}

.checkout-steps li {
    display: inline-block;
    list-style: decimal;
    counter-increment: steps-counter;
    width: 100%;
    color: #9d9d9d;
}
.checkout-steps li::before {
    content: counter(steps-counter);
    padding: 10px 15px 10px 15px;
    border-radius: 100%;
    background: #9d9d9d;
    color: white;
    margin-right: 15px;
}

.checkout-steps li.active {
    color: #197097;
}

.checkout-steps li.active:before {
    background: #197097;
}

.checkout-steps li span {
    content: "";
    display: block;
    background: #cfcfcf;
    width: 15px;
    height: 20px;
    float: right;
    margin-right: 70px;
    position: relative
}


.checkout-steps li:last-child span {
    display: none;
}

.checkout-steps li span:after {
    content: "";
    display: block;
    position: absolute;
    top: -5px;
    right: -10px;
    float: right;
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #cfcfcf;
}


.cntools-checkout label, .cntools-checkout input {
    display: block;
    margin: 5px;
}


.cntools-checkout .flex {
    margin-bottom: 20px;
}

/*.cntools-checkout .flex:first-child .flex-inner {*/
/*    width: auto;*/
/*}*/

.cntools-checkout label {
    font-weight: bold;
    /* margin-left: 20px; */
}

.cntools-checkout input, .cntools-checkout textarea, .cntools-checkout select,  td.actions input{
    display: inline-block;
    padding: 12px 18px 12px 18px;
    border-radius: 20px;
    border: #999999 solid 1px;
    width: 60%;
}

.cntools-checkout textarea {
    min-height: 160px;
    width: 60%;
}

.delivery-address-block .flex-inner {
    width: 13%;
}

.delivery-date-block .flex-inner {
    width: 30%;
}

.delivery-price {
    display: block;
    margin: 20px;
    font-weight: normal;
}

.delivery-price span {
    font-weight: 700;
}

.cntools-checkout .button, .cntools-checkout .button-cancel {
    display: inline-block;
    border-radius: 30px;
    border: solid 1px #296e93;
    background: #296e93;
    padding: 10px;
    width: 150px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
}

.cntools-checkout .button-cancel {
    background: #fff;
    color: #222;
    border-color: #222;
    display: none;
}

.delivery-wrapper {
}

.cntools-checkout .city-selector {
    font-size: 22px;
    font-weight: 700;
}

.cntools-checkout .city-selector strong {
    border-bottom: dotted 1px #000;
}

.cntools-checkout .city-selector span {
    color: #aaa;
    font-size: 12px;
    cursor: pointer;
}

.cntools-checkout .select-get-method {
    margin-top: 20px;
    margin-bottom: 40px;
}

.cntools-checkout .select-get-method li {
    display: inline-block;
    margin-right: 40px;
}


.cntools-checkout .select-get-method li a {
    padding: 5px;
    color: #9b9b9b;
    display: block;
    border-bottom: solid 2px #9b9b9b;
    font-weight: 700;
    font-size: 18px;
}

.cntools-checkout .select-get-method li.active a, .cntools-checkout .select-get-method li:hover a {
    color: #197097;
    border-bottom: solid 2px #197097;

}

.cntools-checkout .select-get-method li:last-child {
    margin-right: 0px;
}

.cntools-checkout .address-searcher {
    margin-top: 20px;
    width: 100%;
}



.cntools-checkout .address-searcher .address-list {
    background: #efefef;
    max-height: 500px;
    overflow-y: auto;
}


.step-block {
    display: none;
}

.step-active {
    display: block;
}

.ya-map {
    min-height: 500px;
}

.table-list {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 20px;
}

.table-list th, .table-list td {
    padding: 10px;
}
.table-list th {
    background: #f0f0f0;
    font-size: 12px;
    text-align: left;
    font-weight: normal;
}


.note-block, .woocommerce-NoticeGroup, .woocommerce-NoticeGroup-checkout{
    margin: 20px 0;
    background: #f0f0f0;
    padding: 15px 15px 15px 60px;
    border-radius: 5px;
    position: relative;
    text-align: left;
}

.note-block .icon-info {
    display: block;
    background: #f8a80a;
    position: absolute;
    left: 12px;
    top: 8px;
    width: 36px;
    height: 36px;
    border-radius: 100%;
    color: #fff;
    text-align: center;
}

.note-block .icon-info span {
    position: absolute;
    top: 5px;
    right: 0px;
    width: 100%;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
}

.product-result-counter {
    color: var(--bs-gray-dark);
    font-size: 14px;
}

.orderby-wrapper {
    text-align: right;
    color: var(--bs-gray-dark);
}

.orderby-wrapper .sorter-text, .orderby-wrapper form {
    display: inline-block;
    font-size: 14px;
}

.orderby-wrapper form select{
    border: solid 1px #d2d2d2;
    border-radius: 5px;
    padding: 5px;
    -webkit-box-shadow: 0px 6px 10px 1px rgba(0,0,0,0.12);
    box-shadow: 0px 2px 7px 1px rgb(0 0 0 / 12%);
    background: white;
    font-size: 14px;
}

.flex-justify-content {
    justify-content: flex-start;
}

.flex-justify-content li {
    margin-right: 15px;
}

.flex-justify-content li:last-child {
    margin-right: 0px;
}

.cntoots-tab-panel {
    display: block;
    padding: 10px 0 10px 0;
}

.product_meta {
    font-size: 13px;
    margin-top: 20px;
    margin-bottom: 5px;
}

.product_title {
    font-size: 22px;
}

.properties-wrapper {
    margin-top: 0px;
}


.properties-wrapper .description {
    display: block;
    margin-top: 10px;
    margin-bottom: 30px;
}

.properties {
    margin-bottom: 30px;
    display: block;
}


.properties .options {
    padding: 0px;
    margin: 0px;
}

.properties .options h3, .yellow-dot-list h3 {
    display: block;
    margin-bottom: 10px;
}

.properties .options li {
    display: block;
    position: relative;
    width: 85%;
    margin-top: 10px;
    color: #5c5858;
}

.properties .options li .title, .options li .value {
    background: #fff;
    z-index: 2;
    position: relative;
    padding-right: 3px;
}

.properties .options li .value {
    float: right;
    padding-right: 0px;
    padding-left: 3px;
    font-weight: 700;
}



.properties .options li:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 4px;
    width: 100%;
    border-bottom: 1px dotted #5c5858;
    z-index: 1;
}



.yellow-dot-list {
    margin-top: 30px;
}


.yellow-dot-list .list {
    padding: 0px;
    margin: 0px;
}

.yellow-dot-list .list li {
    display: block;
    padding: 0px 0px 0px 17px;
    position: relative;
    margin-bottom: 5px;
}

.yellow-dot-list .list li:before {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    background: var(--bs-yellow);
    border-radius: 100%;
    position: absolute;
    left: 0px;
    top: 4px;
}

.properties-wrapper-right {
    max-width: 30%;
    padding-left: 100px;
}

.yellow-dot-list .producer {
    display: block;
}

.yellow-dot-list .producer img {
    width: 24px;
    float:left;
    margin-right: 5px;
}
.fixed-product-tabs {
    position: fixed;
    top: 60px;
    background: #fff;
    z-index: 11;
    width: 100%;
    left: 0px;
    right: 0px;
    /*padding-top: 10px;*/
    -webkit-box-shadow: 0px 7px 11px 0px rgba(0,0,0,0.14);
    box-shadow: 0px 7px 11px 0px rgba(0,0,0,0.14);
}

.fixed-product-tabs .container ul{
    border-bottom: none!important;
}

.cart-order-info-list {
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 5px;
}

.cart-order-info-list li {
    display: block;
    margin-bottom: 10px;
}

.cart-order-info-list li span.value {
    display: block;
    float: right;
    font-weight: 700;
}

.product-cart-list {
    padding-right: 25px;
}


.product-thumbnail img {
    height: 100px;
    width: 100px;
    object-fit: cover;
}

td.actions .coupon {
    float: left;
}

td.actions .button {
    float: right;
}


.single-product-main-image {
    border: solid 1px var(--bs-grey-border);
    width: 100%;
    height: 100%;
    display: flex!important;
    align-items: center;
    justify-content: center;
    min-height: 400px;
}

.product-custom-thumbs-list {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    overflow-y: auto;
}


.product-custom-thumbs-list::-webkit-scrollbar {
    width: 0.2em;
}

.product-custom-thumbs-list::-webkit-scrollbar-track {
    background: #f0f0f0;
}

.product-custom-thumbs-list::-webkit-scrollbar-thumb {
    background-color: #ccc;
}



.product-custom-thumbs-list li {
    margin: 0 0 15px 0 ;
    display: block;
    overflow: hidden;
    width: 100px;
    height: 100px;
    border: solid 1px var(--bs-grey-border);
    background: white;
}

.product-custom-thumbs-list li img {
    object-fit: cover;

}


.thumbs-list-wrapper {
    padding-right: 15px;
}

.product-reviews {
    background: #f7f7f7;
    padding: 30px;
    margin-top: 50px;
}

.product-reviews .content-wrapper,
.product-get-methods .content-wrapper
{
    margin-top: 20px;
}

.product-reviews .content-wrapper .left {
    max-width: 250px;
}

.product-reviews .content-wrapper .left h4 {
    display: block;
    margin: 15px 0;
    font-size: 20px;
}
.product-reviews .content-wrapper .left .stars .stars-wrapper,
.product-reviews .content-wrapper .right .stars .stars-wrapper {
    display: inline-block;
    color: var(--bs-yellow);
    font-size: 12px;
}

.product-reviews .content-wrapper .left .stars .stars-wrapper .text {
    font-size: 12px;
}


.product-reviews .content-wrapper button{
    display: block;
    font-size: 14px;
    background: var(--bs-yellow);
    color: black;
    padding: 10px;
    border: solid 1px var(--bs-yellow);
    border-radius: 30px;
    font-weight: 700;
    margin: 18px 0;
    width: 100%;
    cursor: pointer;
    max-width: 200px;
}



.product-reviews .content-wrapper .right {
    padding-left: 20px;
    padding-right: 20px;
}


.product-reviews .content-wrapper .right h4 {
    display: block;
    margin: 15px 0;
    font-size: 20px;
}



.product-reviews .content-wrapper .right .date {
    font-size: 14px;
    color: #605f5f;
}

.product-reviews .content-wrapper .right .text {
    display: block;
    margin: 15px 0;
}

.product-ask-questions {
    background: white;
    margin-top: 50px;
}

.product-get-methods {
    margin-top: 50px;
}

.product-get-methods .method-item .get-method-block {
    display: block;
    min-height: 70px;
    background: white;
    border: solid 2px var(--bs-yellow);
    margin-right: 15px;
    border-radius: 10px;
    position: relative;
    padding: 30px;
    -webkit-box-shadow: 0px 0px 8px 1px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 0px 8px 1px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 0px 8px 1px rgba(34, 60, 80, 0.2);
}

.product-get-methods .method-item:last-child .get-method-block {
    margin-right: 0px;
}

.product-get-methods .method-item .get-method-block .icon {
    font-size: 40px;
    margin: 10px 20px 20px 20px;
    color: var(--bs-yellow);
    float: left;
}

.product-get-methods .method-item .get-method-block .title {
    padding: 0px;
    margin: 10px 0px 5px 0px;
}



.product-get-methods .method-item .get-method-block .description {
    padding: 0px;
    margin: 0px;
}

.product-filter {
    display: block;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: solid 1px var(--bs-grey-border);
}

.product-filter select, .product-filter .button{
    border: solid 1px #d2d2d2;
    border-radius: 5px;
    padding: 8px;
    -webkit-box-shadow: 0px 6px 10px 1px rgba(0,0,0,0.12);
    box-shadow: 0px 2px 7px 1px rgb(0 0 0 / 12%);
    background: white;
    font-size: 14px;
    width: 98%;
    margin: 0 15px 10px 0;
    display: block;
}

.product-filter .button{
    border: solid 1px var(--bs-yellow);
    background: var(--bs-yellow);
    color: white;
    padding: 9px;
}

.product-filter  .flex {
    display: flex;
    width: auto;
    flex-wrap: wrap;
}

.product-filter  .flex .flex-inner {
    width: 25%;
}

.product-filter .title {
    display: block;
    margin-bottom: 15px;
    font-size: 18px;
}


.product-filter .cat-item {
    border: solid 1px #d2d2d2;
    border-radius: 5px;
    padding: 15px;
    -webkit-box-shadow: 0px 6px 10px 1px rgba(0,0,0,0.12);
    box-shadow: 0px 2px 7px 1px rgb(0 0 0 / 12%);
    background: white;
    font-size: 14px;
    width: auto;
    margin: 0 15px 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}


.product-filter .cat-item .img {
    width: 50px;
    height: 50px;
    float: left;
    overflow: hidden;
    display: block;
    margin: 5px;
}

.product-filter .cat-item .img img {
    object-fit: cover;
    width: auto;
    height: 100%;
}

.product-filter a.active {
    border:solid 1px var(--bs-yellow);
    color: var(--bs-yellow);
}

.product-filter .cat-item strong {
    display: block;
    /* margin-top: 20px; */
    margin-left: 10px;
}

.product-filter .cat-item:after {
    content: "";
    display: block;
    clear: both;
}

.self-service-list {
    margin: 20px;
}

.self-service-list li {
    display: block;
    margin-bottom: 10px;
}

.self-service-list li label {
    font-weight: normal;
    font-size: 16px;
}

.payment-icon-list {
    display: block;
}
.payment-icon-list li {
    display: inline-block;
}

.payment-title {
    display: block;
    margin-top: 30px;
    margin-left: 8px;
    color: #9d9d9d;
}

.video-img-wrapper {
    display: block;
    margin-top: 15px;
    border: solid 1px var(--bs-grey-border);
    -webkit-box-shadow: 0px 6px 10px 1px rgb(0 0 0 / 12%);
    box-shadow: 0px 6px 10px 1px rgb(0 0 0 / 12%);
    border-radius: 5px;
}

.video-img-wrapper img {
    object-fit: cover;
}

.scrolling-y {
    height: 400px;
    overflow-y: auto;
    display: block;
    margin-right: 18px;
    margin-left: 18px;
    border: solid 0px var(--bs-grey-border);

}

/* width */
.scrolling-y::-webkit-scrollbar {
    width: 2px;
}

/* Track */
.scrolling-y::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
.scrolling-y::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
.scrolling-y::-webkit-scrollbar-thumb:hover {
    background: #555;
}




.offers {
    margin: 0px;
    font-size: 14px;
}

.offers li {
    margin-bottom: 5px;
    padding: 15px;
    cursor: pointer;
    position: relative;
    /* -webkit-box-shadow: 0px 3px 6px 1px rgb(0 0 0 / 14%); */
    /* box-shadow: 0px 0px 2px 1px rgb(0 0 0 / 10%); */
}

.offers li .select-offer {
    position: absolute;
    display: none;
    max-width: 180px;
    color: var(--bs-blue);
    text-align: center;
    border-radius: 30px;
    z-index: 2;
    font-size: 10px;
    padding: 10px;
    top: calc(50% - 15px);
    height: 10px;
    left:0px;
    right: 0px;
    margin: auto;
    background: white;
    opacity: 0.8;
    text-transform: uppercase;
    -webkit-box-shadow: 0px 3px 6px 1px rgb(0 0 0 / 14%);
    box-shadow: 0px 1px 8px 1px rgb(0 0 0 / 14%);
}

.offers li:hover .select-offer {
    display: block;
}

.offers li.active  .select-offer {
    display: none;
}



.offers li:nth-child(2n) {
    background: #f0f0f057;
}

.offers li:hover {
    background: #f0f0f0b8;

}


.offers .line {
    display: block;
    position: relative;
    font-size: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.offers .line:before {
    content: "";
    position:absolute;
    display: block;
    left: 0px;
    right: 0px;
    top: 50%;;
    border-top: 1px dotted #8d8d8d78;
    z-index: 1;
    width: auto;
}

.offers .line:after {
    clear: both;
    content: "";
    display: block;
}

.offers .line .title,
.offers .line .value {
    background: white;
    position: relative;
    z-index: 2
}

.offers li:nth-child(2n) .line .title,
.offers li:nth-child(2n) .line .value {
    background: #f0f0f057;
}


.offers .line .title {
    float: left;
}

.offers .line .value {
    float: right;
    font-weight: 700;
}


.offers li.active {
    background: var(--bs-yellow);
}

.offers li.active .line .title,
.offers li.active .line .value {
    background: var(--bs-yellow);
}



.auth-block .flex {
    display: flex;
    width: 100%;
}

.auth-block .flex h2 {
    disply: block;
    margin: 0 0 30px 10px;
}


.auth-block .flex .flex-inner {
    width: calc(50% - 30px);
    margin: 0 15px;
}

.auth-block .b-right {
    border-right: solid 1px #d2d2d2;
}

.auth-block .flex .flex-inner .form-group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 0 25px 0;
}

.auth-block .flex .flex-inner .form-group .form-element {
    width: 62%;
}

.auth-block .flex .flex-inner .form-group label{
    width: 25%;
    font-weight: 700;
    padding: 15px 10px;
    font-size: 14px;
}

.auth-block .flex .flex-inner .form-group .form-element [type="text"],
.auth-block .flex .flex-inner .form-group .form-element [type="password"]
{
    display: inline-block;
    padding: 12px 18px 12px 18px;
    border-radius: 20px;
    border: #999999 solid 1px;
    width: 100%;
}

.cntools-button {
    display: inline-block;
    border-radius: 30px;
    border: solid 1px #296e93;
    background: #296e93;
    padding: 10px;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
}

.all-offers {
    margin-top: 40px;
    padding-top: 20px;
}

.cn-table {
    width: 100%;
}

.cn-table td {
    border-bottom: solid 1px var(--bs-grey-border);
    border-right: solid 1px var(--bs-grey-border);
    padding: 10px;
}


.table {
    width: 100%;
    border: 1px solid #eeeeee;
}

.table-header {
    display: flex;
    width: 100%;
    background: var(--bs-blue);
    padding: 18px 0;
}

.table-row {
    display: flex;
    width: 100%;
    padding: 18px 0;
}
.table-row:nth-of-type(odd) {
    background: #eeeeee;
}

.table-data,
.header__item {
    flex: 1 1 20%;
    text-align: center;
}


.header__item {
    text-transform: uppercase;
}

.filter__link {
    color: white;
    text-decoration: none;
    position: relative;
    display: inline-block;
    padding-left: 24px;
    padding-right: 24px;
}
.filter__link::after {
    content: "";
    position: absolute;
    right: -18px;
    color: white;
    font-size: 12px;
    top: 50%;
    transform: translateY(-50%);
}
.filter__link.desc::after {
    content: "(desc)";
}
.filter__link.asc::after {
    content: "(asc)";
}

.form-element {
    /* padding-bottom: 20px; */
}

.form-element label{
    font-weight: 700;
    width: 100%;
    text-align: right;
    padding-top: 5px;
    padding-right: 5px;
    text-align:left;
}

.form-element input[type="text"] {
    display: inline-block;
    padding: 10px 18px 10px 18px;
    border-radius: 20px;
    border: #999999 solid 1px;
    width: calc(100% - 55px);

}

.checkbox-wrapper {
    display: inline-block;
    margin: 10px;
}

.checkbox-wrapper label{
    padding-right: 0px;
    font-weight: normal;
    margin-bottom: 20px;
    width: 50%;
    min-width: 200px;
}


.verify-order {
    margion-top: 40px;
}

.verify-order ul{
    width: 100%;
}


.verify-order .flex-inner:first-child {
    border-right: solid 1px var(--bs-grey-border-2);
    margin-right: 20px;
}


.verify-order h5{
    display: block;
    margin: 10px;
    font-size: 18px;
}

.verify-order ul li {
    margin: 10px;
}