.cntools-slider-item  {
    min-height: 450px;
}


.cntools-slider-item  .img-wrapper {
    position: absolute;
    width: 90%;
    height: 100%;
    right: 0px;
    z-index: 1;
    overflow: hidden;
}

.cntools-slider-item  .img-wrapper img {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: auto;
}

.cntools-slider-item .dg-design {
    background: var(--bs-yellow);
    position: absolute;
    display: block;
    z-index: 2;
    top: 0px;
    left: -50%;
    right: 0px;
    bottom: 0px;
    width: 110%;
    transform: rotate(45deg);
    border-top: 25px solid #e19b05fa;
}