.front-page-top .banner {
    background: #f5f5f5;
    height: 188px;
    width: 100%;
    border-radius: 15px;
    margin-top: 12px;
    position: relative;
}

.banner-wrapper {
    padding-right: 0px;
}

.banners .banner-wrapper:last-child {
    padding-right: 15px;
}