.woocommerce-breadcrumb {
    display: block;
    margin: 25px 0 15px 0;
    color: #5f5f5f;
    font-size: 0.8em;
}


.cntools-entry-title {
    display: block;
	margin-bottom: 45px;
    font-weight: 700;
	font-size: 26px;
	line-height: 32px;
	color: #212529;
}

.filter .filter-item {
    border: solid 1px #d2d2d2;
    border-radius: 5px;
    padding: 20px;
    -webkit-box-shadow: 0px 6px 10px 1px rgb(0 0 0 / 12%);
    box-shadow: 0px 2px 7px 1px rgb(0 0 0 / 12%);
    background: white;
    font-size: 0.8em;
    width: auto;
    margin: 0;
    display: block;
    height: 100%;
}


.filter a.active {
    border:solid 1px var(--bs-yellow);
    color: var(--bs-yellow);
}

.filter .filter-item .filter-icon {
    text-align: center;
}


.filter .filter-item .filter-text {
    font-weight: 400;
}

.select-filter {
    margin-top: 20px;
}

.select-filter .hide-selector-filter {
    display: none;
}

.select-filter .form-select,  .ordering .form-select  {
    border: solid 1px #d2d2d2;
    -webkit-box-shadow: 0px 6px 10px 1px rgb(0 0 0 / 12%);
    box-shadow: 0px 2px 7px 1px rgb(0 0 0 / 12%);
    font-size: 0.8em;

}

.select-filter .title {
    font-size: 1.1em;
    padding-bottom: 5px;
}


.ordering {
    margin-top: 40px;
    margin-bottom: 20px;
}

.ordering .form-select {
    font-size: 0.9em;
}

.ordering .sorter-text {
    margin-top: 8px;
}

.product_meta {
    margin-bottom: 10px;
}

.product_meta span.sku_wrapper {
    margin-right: 10px;
}

.product_meta {
    font-size: 0.7em;
    color: #878585;
}

.product_meta span span, .product_meta span a {
    color: var(--bs-blue)
}


.product-tabs {
    margin-top: 40px;
    margin-bottom: 20px;
}

.product-tabs .tab-pane {
    padding: 0 10px;
}

.product-tabs table thead {
    background: var(--bs-blue);
    color: white;
}

.product-tabs .nav-tabs li{

}

.product-tabs .nav-tabs .nav-link {
    color: var(--bs-blue);
    text-transform: uppercase;
    border-radius: 0px;
}

.product-tabs .nav-tabs .active {
    color: var(--bs-yellow);
    font-weight: 600;
}

.product-tabs h2.title {
    font-size: 1em;
    display: block;
    padding-top: 35px;
    padding-bottom: 25px;
    font-weight: 600;
}

.product-tabs h2.title span {
    color: #878585;
}

.single-product-main-image {
    border: solid 1px var(--bs-grey-border);
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    min-height: 400px;
}

.product_title {
    font-size: 1.4em;
    font-weight: 600;
}

.offer-quantity span {
    background: transparent;
    font-weight: 700;
    text-align: center;
    border-radius: 0px;
    cursor: pointer;
    border: none;
}

.offer-quantity span:hover {
    background: var(--bs-blue);
    color: white;
}

.card .properties .options {
/*     font-size: 0.9em; */
    margin: 10px 0 15px;
}

.card .properties .options li {
    margin-top: 5px;
}

.card-shadow {
    border: solid 1px #d2d2d2;
    -webkit-box-shadow: 0px 6px 10px 1px rgb(0 0 0 / 12%);
    box-shadow: 0px 2px 7px 1px rgb(0 0 0 / 12%);
}

/* .offers-list-card:hover {
    border-color: var(--bs-yellow);
    outline: solid 2px var(--bs-yellow);
} */


.product-thumbnail img {
    display: block;
    width: 100px;
    height: 100px;
    object-fit: contain;
    margin: 0 auto;
    border: solid 1px #ccc;
}

.product-thumbnail .thumbnail-wrapper {
    margin: 20px auto;

}



.note-block, .woocommerce-NoticeGroup, .woocommerce-NoticeGroup-checkout{
    margin: 20px 0;
    background: #f3f3f3;
    padding: 15px 15px 15px 60px;
    border-radius: 8px;
    position: relative;
    text-align: left;
}

.note-block .icon-info {
    display: block;
    background: #f8a80a;
    position: absolute;
    left: 12px;
    top: calc(50% - 18px);
    width: 36px;
    height: 36px;
    border-radius: 100%;
    color: #fff;
    text-align: center;
}

.note-block .icon-info span {
    position: absolute;
    top: 2.5px;
    right: 0px;
    width: 100%;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
}

.cntools-checkout label {
    font-weight: 600;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 0.9em;
}

.cntools-checkout .checkbox-wrapper label {
    margin-top: 0px;
    margin-left: 5px;
}


.cntools-checkout .select-get-method {
    margin-top: 20px;
    margin-bottom: 0px;
}

.cntools-checkout .select-get-method li {
    display: inline-block;
    margin-right: 40px;
}


.cntools-checkout .select-get-method li a {
    display: block;
    color: #212529;
    font-weight: 700;
    font-size: 20px;
	line-height: 24px;
}

/* .cntools-checkout .select-get-method li.active a,  */
.cntools-checkout .select-get-method li:hover a {
    color: #197097;
    border-bottom: solid 2px #197097;

}

.cntools-checkout .select-get-method li:last-child {
    margin-right: 0px;
}

.cntools-checkout .address-searcher { width: 100%;}

.cntools-checkout .address-searcher .address-list {
    background: #efefef;
    max-height: 500px;
    overflow-y: auto;
}

.self-service-list {
    margin: 20px 0;
    padding-left: 0px;
}

.self-service-list li {
    display: block;
    margin-bottom: 3px;
}

.self-service-list li label {
    font-weight: normal;
    font-size: 0.99em;
}



.checkout-steps {
    counter-reset: steps-counter;
    margin-top: 20px;
    margin-bottom: 20px;
}

.checkout-steps li {
    list-style: none!important;
    counter-increment: steps-counter;
    color: #9d9d9d;
    position: relative;
}
.checkout-steps li::before {
    content: counter(steps-counter);
    padding: 10px  0 0 0;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background: #9d9d9d;
    color: white;
    display: block;
    position: absolute;
    z-index: 2;
}

.checkout-steps li a {
    position: relative;
    z-index: 1;
    text-align: left;
    padding-left: 50px;
    background: white!important;
    color: #9d9d9d!important;
}

.checkout-steps li a.active {
    color: var(--bs-blue)!important;
}

.checkout-steps li.active::before {
    background: var(--bs-blue);
}


.checkout-steps li span {
    display: block;
    position: absolute;
    background: #cfcfcf;
    width: 15px;
    height: 20px;
    right: 85px;
    top: 8px;
    z-index: 2;
}


.checkout-steps li:last-child span {
    display: none;
}

.checkout-steps li:after {
    content: "";
    display: block;
    position: absolute;
    top: 2px;
    right: 70px;
    width: 0;
    height: 0;
    border-top: 16px solid transparent;
    border-bottom: 16px solid transparent;
    border-left: 16px solid #cfcfcf;
    z-index: 2;
}

.checkout-steps li:last-child:after {
    content: unset;
}


.payment-icon-list {
    display: block;
    padding: 0px;
    margin: 0px;
}
.payment-icon-list li {
    display: inline-block;
}

.payment-title {
    display: block;
    margin-top: 30px;
    margin-left: 8px;
    color: #9d9d9d;
}


.blue-butter {
    display: none;
    width: 30px;
    float: right;
    margin-top: 15px;
    cursor: pointer;
}

.blue-butter span {
    width: 100%;
    display: block;
    height: 3px;
    background: var(--bs-blue);
    margin: 4px;
}

.blue-butter:hover span {
    background: var(--bs-yellow);
}

.connect-to-manager {
    display: block;
    border: solid 1px var(--bs-blue);
    padding: 20px;
    text-align: center;
    border-radius: 30px;
    font-weight: 400;
    font-size: 1.2em;
}

.connect-to-manager i {
    color: var(--bs-yellow);
}

.product-info .price-single {
    font-size: 1.5em;
    text-align: center;
    background: var(--bs-yellow);
    padding: 15px;
    font-weight: 600;
    border-top: dotted 2px white;
    width: 90%;
    margin: auto;
}

.item-compare:hover, .item-favorite:hover {
    cursor: pointer;
    opacity: 0.7;
}

.opacity-low {
    opacity: 0.4;
}

.my-account-wrapper .card {
    margin-bottom: 25px;
}

.lk-element {
    padding: 30px;
    position: relative;
}

.lk-element .lk-right{
    font-size: 8em;
    color: #f0f0f0;
    float: right;
}

.lk-element h3 {
    font-weight: 600;
}

.lk-element .lk-left {
    float: left;
    display: block;
}

.lk-element .btn-yellow {
    color: #222;
    bottom: 20px;
    position: absolute;
    max-width: 200px;
}

.lk-left h3 {
    font-size: 1.4em;
}

.catalog-item {
    display: block;
    border-bottom: solid 3px var(--bs-yellow);
    color: var(--bs-blue);
    text-transform: uppercase;
    padding: 5px;
    margin-bottom:10px;

}

.catalog-item strong {
    font-size: 0.8em;
}

.catalog-sub-item {
    font-size: 0.8em;
    display: block;
    margin-left: 5px;
}

.catalog-sub-item strong {
    font-weight: normal;
}

.verify-order h5 {
    font-weight: 600;
    margin-bottom: 20px

}


.verify-order ul {
    padding: 0px;
    margin: 0px;
    margin-bottom: 20px
}

.verify-order ul li {
    margin-bottom: 10px;
    font-size: 0.9em;
}


.verify-order a {
    color: var(--bs-blue);
/*     border-bottom: dashed 1px var(--bs-blue); */
}



.verify-order strong {
    color: var(--bs-blue);
}

.addtocart .offer-quantity .form-control {
    border-radius: 30px;!important;
}

.addtocart .offer-quantity .input-group-text {
    background: var(--bs-yellow);
    text-align: center;
    border-radius: 100%;!important;

}

.addtocart .product-quantity {
    width: 70px;
    margin: auto;
}
/*.addtocart .offer-quantity .input-group-text:first-child {*/


/*}*/
/*.addtocart .offer-quantity .input-group-text:last-child {*/

/*}*/

.addtocart .offer-price {
    display: block;
    text-align: center;
    font-weight: 700;
    padding: 5px;
    margin: auto;
}


.addtocart .minus,
.addtocart .plus  {
    display: block;
    text-align: center;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    font-weight: 600;
    padding-top: 0px;
    float: left;
    margin-left: -10px;
    margin-top: 3px;
    cursor: pointer;
    background: var(--bs-yellow);
    border: solid 1px var(--bs-yellow);
    color: black;

}

.addtocart .minus {
    float: right;
    margin-right: -10px;
}

.addtocart .minus:hover,
.addtocart .plus:hover {
    cursor: pointer;
    border-color: #999999;
    background: white;
    color: #999999;

}

.addtocart .add-to-cart,
.addtocart .go-to-cart {
    margin: 10px auto;
    display: block;
    max-width: 165px;
    font-size: 0.7em;

}

.addtocart .remove-from-cart {
    font-size: 0.6em;
    text-align: center;
    display: block;
    text-transform: uppercase;
}

.addtocart .remove-from-cart:hover {
    cursor: pointer;
    text-decoration: underline;
}

.description-title {
    font-size: 1em;
    text-transform: uppercase;
    color: var(--bs-yellow);
    font-weight: 600;
    display: block;
    border-bottom: solid 1px var(--bs-grey-border);
    margin-bottom: 10px;
    padding-bottom: 5px;
}

.product-custom-thumbs-list {
    display: flex;
    margin: 10px auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0px;
}

.product-custom-thumbs-list li {
    display: inline-block;
    border: solid 1px var(--bs-grey-border);
    margin: 5px;
}

.product-custom-thumbs-list img {
    width: 100px;
    object-fit: contain;
}

/*.addtocart .js-add-to-cart {*/
/*    display: block;*/
/*    text-align: center;*/
/*    font-size: 0.7em;*/
/*    padding: 10px 5px 5px 5px;*/
/*    text-transform: uppercase;*/
/*    font-weight: 700;*/
/*    opacity: 0.5;*/
/*    color: var(--bs-yellow);*/
/*}*/

/*.addtocart .js-add-to-cart:hover {*/
/*    cursor: pointer;*/
/*    opacity: 1;*/
/*}*/

/* Cart - Goods card label */
.cart-card-label {
	display: inline-block;	
	padding: 8px 25px;
	background: rgb(32 98 147 / 20%);
	border-radius: 100px;
	font-weight: 600;
	font-size: 16px;
	line-height: 20px;
	color: #3A3A3A;
}
.cart-card-text {
	display: inline-block;	
	font-weight: 300;
	font-size: 18px;
	line-height: 22px;
	color: #3A3A3A;
}
.woocommerce-cart-form > .offers-list-card {margin-bottom: 24px}
.woocommerce-cart-form .offers-list-card + .offers-list-card {margin-top: -15px}
/* .cart-card-label + .cart-card-label {margin-left: 10px} */
.cart-card-label > i {
	font-style: normal;
	font-size: inherit;
	font-weight: inherit;
}
.step-tab > .checkbox-wrapper > input[type=checkbox] { 
	visibility: hidden;
	position: absolute;
	z-index: -10;
	top: 0;
	height: 1px;
	width: 1px;
	display: block;
	padding: 0;
	margin: 0;
	margin-top: -1px;
}
.step-tab > .checkbox-wrapper > input[type=checkbox]:checked + label { color:#FF0000 }
.step-tab .checkbox-wrapper {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	position: relative;
	padding: 34px 25px;
	border: 1px solid #ced4da;
	border-radius: 12px;
	z-index: 1;
	background-color: #fff;
	background-repeat: no-repeat;
	background-position: 93% 50%;
	background-size: 64px;
	height: 120px;
}
.step-tab.step-bg1 .checkbox-wrapper {
	background-image: url(https://cntools.ru/wp-content/uploads/2022/12/fl-icon.png);
}
.step-tab.step-bg2 .checkbox-wrapper {
	background-image: url(https://cntools.ru/wp-content/uploads/2022/12/jul-icon.png);
}
.step-tab .checkbox-wrapper label {
	display: flex;
	align-items: center;
	padding-left: 20px;
	cursor: pointer;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 5;
}
.step-tab .img-block {max-width: 64px}
.step-tab .img-block svg {max-width: 100%}

.js-iur-fields .mb-3 { align-self: end }

#myTab .nav-item {
	margin-bottom: 20px;
	max-width: 280px
}
#myTab .nav-item:nth-child(1),
#myTab .nav-item:nth-child(2){max-width: 350px;}

.map-header {
	display: inline-block;
	margin-bottom: 14px;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	color: #212529;

}
.map-content-block {
	display: flex;
	justify-content: space-between;
}
.map-label {
	display: inline-block;
	margin-bottom: 14px;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 300;
	font-size: 14px;
	line-height: 17px;
	color: #3A3A3A;
}
.map-value {
	display: inline-block;
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	color: #3A3A3A;
}
.map-btn {
	padding: 10px 20px;
	width: 100%;
	background: #206293;
	border-radius: 30px;
	border: none;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	color: #FFFFFF;
}

.step-fields-block > div > .mb-3 {
	position: relative;
	background: #F6F6F6;
	border-radius: 10px;
	z-index: 1;
}
.step-fields-block > .long-label > .mb-3 > input {
	padding-left: 195px;
}
.step-fields-block > div > .mb-3 > input {
	position: relative;
	text-align: right;
	padding: 15px 20px 15px 110px;
	background: transparent;
	border: 1px solid transparent;
	border-radius: 10px;
	font-family: 'Fira Sans', sans-serif;
	font-weight: 500;
	font-size: 15px;
	line-height: 20px;
	color: #000000;
	z-index:5;
}

.form-control.select-field:focus,
.form-control.select-field:hover,
.step-fields-block > div > .mb-3 > input:focus,
.step-fields-block > div > .mb-3 > input:hover {
	outline: 1px solid #8D9EF6;
	box-shadow: none;
}
.step-fields-block > div > .mb-3 label {
	position: absolute;
	left: 10px;
	top: 6px;
	font-weight: 400;
	font-size: 15px;
	line-height: 20px;
	color: #8E8E8E;
	z-index:2;
	transition: 0.2s ease-in;
}
.step-fields-block > div > .mb-3 label.label-up {
	top: -12px;
}

.remove-link-btn {
	padding: 8px 18px;
	max-width: 128px;
	width: 100%;
	border-radius: 20px;
	font-weight: 500;
	font-size: 12px;
	line-height: 15px;
	color: #DC3545;
}
.remove-link-btn i {
	display: none;
	color: #ccc;
	font-size: 16px;
	height: 40px;
	line-height: 25px;
	transition: color 0.2s ease-in;
}

#date-delivery-block {display:none}

/* select field - step 2 (https://cntools.ru/checkout/?step=2) */

.select2-container--default .select2-selection--single {
	background: #F6F6F6;
	border-radius: 10px;
	border: 1px solid transparent;
}
.select2-container .select2-selection--single {
	box-sizing: border-box;
	cursor: pointer;
	display: block;
	height: auto;
	margin: 0;
	-ms-user-select: none;
	user-select: none;
	-webkit-user-select: none;
}
.select2-container .select2-selection--single .select2-selection__rendered {
	display: block;
	padding: 5px 8px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
	color: #444;
	line-height: 28px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
	height: 26px;
	position: absolute;
	top: 7px;
	right: 8px;
	width: 20px;
}

.card-body .step-delivery-label {
	margin-bottom: 0;
	font-size: 16px;
	line-height: 20px;
	color: #3A3A3A;
}
.step-delivery-label > b {font-weight: 600;}

.step.cart-card-label {padding: 5px 15px}
.step.cart-card-label + .step.cart-card-label {margin-right:10px}
.cart-card-label {margin-left: 12px} /* Корзина (cart.php) - блок Поставщик + Доставка */
.step-card-label {
	display: inline-block;
	position: relative;
	margin-left: auto; 
	vertical-align: bottom;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	text-align: center;
	color: #206293;
}
.step-card-label b {
	position: absolute;
	top: -18px;
	left: calc(50% - 4px);
}
.shipper-content-block {white-space: nowrap}

.title-h1 {
	font-weight: 700;
	font-size: 26px;
	line-height: 32px;
	color: #212529;
}
.woocommerce-cart-form .title-h2,
.title-h2 {
	font-weight: 600;
	font-size: 26px;
	line-height: 32px;
	color: #212529;
}
.title-h4 {
	font-weight: 700;
	font-size: 20px;
	line-height: 24px;
	color: #212529;
}
.cnts-entry .title-h4 {
	font-size: 26px;
	line-height: 32px;
}
.card-caption > .title {
	font-weight: 700;
	font-size: 22px;
	line-height: 24px;
	color: #212529;
}
.card-caption > .title > a {
	color: #212529;
}
.title {
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	color: #212529;
}
.value {
	font-weight: 600;
	font-size: 16px;
	line-height: 20px;
	color: #212529;
	white-space: nowrap;
}

.value b {font-weight: 600}
.cart_totals ul li .title {color:#5C5858}
.cart_totals .btn-yellow {
	padding: 16px 20px;
	background: #F8A900;
	border-radius: 12px;font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	color: #212529;
}
.cart-card-total {
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
	color: #212529;
}
.card-count {
	max-width: 44px;
	border: 1px solid #BEBEBE;
	border-radius: 6px!important;
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
	color: #000000;
}

.btn-primary.steps-proceed-btn {padding: 12px 32px;}

.step-subtitle {
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
	color: #000000;
}

.step-city-label {
	display: inline-block;
	padding: 5px 15px;
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
	color: #37678D;
	border: 2px solid #37678D;
	border-radius: 10px;
	background-color: #fff;
}
.step-city-label + .js-change-geo {margin-left:15px}
.cntools-checkout .city-selector span {
	display: inline-block;
	font-family: 'Fira Sans', sans-serif;
    font-weight: 500;
	font-size: 15px;
	line-height: 20px;
	color: #F2123B;
	cursor: pointer;
}

.cntools-checkout .city-selector span:hover {
    border-bottom: 1px dashed #ff0000;
}

.step-delivery-wrapper {   
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.step-delivery-block {
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
	flex-grow: 1;
  flex-wrap: wrap;
  gap: 10px;
}

.step-delivery-label {
	font-size: 16px;
	line-height: 20px;
	color: #3A3A3A;
}
.step-delivery-label > b {
	font-weight: 600;
}

.cart-card-label {
	display: inline-block;
	padding: 8px 25px;
	font-weight: 600;
	font-size: 16px;
	line-height: 20px;
	color: #3A3A3A;
  	white-space: nowrap;
	background: rgb(32 98 147 / 20%);
	border-radius: 100px;
}
.step.cart-card-label + .step.cart-card-label {
	margin-right: 10px;
}
.cart-card-label i { font-style: normal; }
.step-card-label {
  display: inline-block;
	position: relative;
  	margin-top: 15px;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	color: #206293;
}
.step-card-label b {
	position: absolute;
	top: -18px;
	left: calc(50% - 4px);
}

.step-delivery-wrapper + .step-delivery-wrapper {margin-top:20px;}

.pickup-point {
	background-color:#fff;
}
.pickup-point h3 {
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	color: #212529;
}
.pickup-point .title {
	font-weight: 300;
	font-size: 14px;
	line-height: 17px;
	color: #3A3A3A;
}

.pickup-point .value {
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	color: #3A3A3A;
}
.blue-bg {
	background: linear-gradient(95.74deg, #5AA6FF 4.58%, #287ADA 97.6%);
	border: 1px solid #EEEEEE;
	box-shadow: 0px 1px 12px rgba(28, 25, 39, 0.1);
	border-radius: 8px;
}

.title-step3 {
	font-weight: 600;
	font-size: 22px;
	line-height: 27px;
	color: #3A3A3A;
}

.order-done-list li .title {
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
	color: #3A3A3A;
}
.order-done-list li .value {
	font-weight: 600;
	font-size: 20px;
	line-height: 24px;
}

.form-control.select-field {
	position: relative;
	background: #F6F6F6;
	text-align: right;
	padding: 15px 20px 15px 170px;
	background: transparent;
	border: 1px solid transparent;
	border-radius: 10px;
	font-family: 'Fira Sans', sans-serif;
	font-weight: 500;
	font-size: 15px;
	line-height: 20px;
	color: #000000;
	cursor: pointer;
	z-index: 5;
	     -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
}

.s3-border {
	padding: 10px 18px;
	width: 44px;
	height: 44px;
	border: 1px solid #BEBEBE;
	border-radius: 6px;
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
	color: #000000;
}
.title + .s3-border {
	margin-top: 15px;
}
.s3-caption {
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
	color: #212529;
}
@media(max-width: 1399px) {
	.s3-caption {font-size: 16px;}
}

.card-count-box {display:none;}
.card-title-box + .card-count-box {display:block;}

.s3-card-content-box {margin-top: -15px;}
.s3-card-title-box + .s3-card-content-box {margin-top:0}

.step-card-total {
	font-weight: 700;
	font-size: 22px;
	line-height: 27px;
	color: #212529;
}
#stepCardModal .modal-content {
	background: #FFFFFF;
	border: 1px solid #EEEEEE;
	box-shadow: 0px 1px 18px rgba(28, 25, 39, 0.12);
	border-radius: 8px;
}
#stepCardModal .modal-header {
	padding: 20px;
	background: transparent;
	color: inherit;
	border-radius: 0;
	border-bottom: 0;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 10;
}
#stepCardModal .product-thumbnail .thumbnail-wrapper {margin: 20px auto 0;}
.s3-order-list {display:none}
@media (max-width:1199px) {
	.card-body.steps {padding:0}
}
@media (max-width:767px) {
	.s3-order-list {display:flex}
	.row.verify-order {  display:none}
}