.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: var(--bs-button-bg-darck);
    --bs-btn-border-color: var(--bs-button-bg-darck);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: var(--bs-blue);
    --bs-btn-hover-border-color: #366c8f;
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #366c8f;
    --bs-btn-active-border-color: #0a53be;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #366c8f;
    --bs-btn-disabled-border-color: #0d6efd;
    border-radius: 30px;
}

.btn-primary:hover {
    background: var(--bs-blue-darck);
}


.btn-yellow {
    --bs-btn-color: #fff;
    --bs-btn-bg: var(--bs-yellow);
    --bs-btn-border-color: var(--bs-yellow);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: var(--bs-yellow);
    --bs-btn-hover-border-color: #366c8f;
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #366c8f;
    --bs-btn-active-border-color: #0a53be;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #366c8f;
    --bs-btn-disabled-border-color: #0d6efd;
    border-radius: 30px;
    width: 100%;
}

.btn-white {
    --bs-btn-color: #222;
    --bs-btn-bg: white;
    --bs-btn-border-color: var(--bs-btn-border-color);
    --bs-btn-hover-color: balack;
    --bs-btn-hover-bg: var(--bs-grey);
    --bs-btn-hover-border-color: #366c8f;
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #366c8f;
    --bs-btn-active-border-color: #0a53be;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #366c8f;
    --bs-btn-disabled-border-color: #0d6efd;
    border-radius: 30px;
    border: solid 1px #999999;
}


.modal-content {
    border: 2px solid white;
    border-radius:  20px;
}

.modal-header {
    background: var(--bs-blue);
    color: white;
    border-radius:  20px 20px 0 0;
}

.modal-header .modal-title {
    font-size: 1.2em;
    font-weight: 600;
}


@keyframes radial-pulse {
    0%   {box-shadow: 0 0 0 0em white;}
    100% {box-shadow: 0 0 0 1em rgba(255,100,100,.0);}
}


.nav-tabs li {
    list-style: none!important;
}