footer {
    margin-top: 0px;
    min-height: 300px;
    background: var(--bs-blue);
}

footer .subscribe {
    background: var(--bs-blue-darck);
    padding: 10px 0;
    /*border-top: solid 1px var(--bs-border-on-blue);*/
    border-bottom: solid 1px #ffffff1a;

}

footer .subscribe-text {
    color: #fff;
    font-size: 14px;
    padding: 6px 0 0 0;
    margin: 0;
    text-align: left;
}

footer .subscribe-text .fa {
    color: var(--bs-yellow);
    font-size: 18px;
}

footer .btn-yellow {
    color: black;
    padding: 3px;
}

footer .form-control {
    padding-top: 3px;
    padding-bottom: 3px;
}


.footer-menus h3{
    color: #f8a80a;
    padding: 0px;
    margin: 20px 0 5px 0;
    font-size: 16px;
    font-weight: bold;
}

.footer-menus .footer-menu-list {
    margin: 0 0 50px 0;
    padding: 0px;
    color: #fff;
}

.footer-menus .footer-menu-list li {
    list-style: none;
    display: block;
}

.footer-menus .footer-menu-list li a {
    color: #fff;
    font-size: 13px;
}

.social-media-list {
    padding: 0px;
    margin: 0px;
}

.social-media-list li {
    display: inline-block;
}

.social-media-list li img {
    width: 40px;
    height: auto;
    border-radius: 100%;
}

.social-media-list li:hover img {
    opacity: 0.8;
}

.payment-icon-list-footer {

    margin-bottom: 30px;
}

.payment-icon-list-footer li {
    width: auto;
    height: 40px;
    position: relative;
    text-align: center;
    overflow: hidden;
    vertical-align: middle;
}

.payment-icon-list-footer li img {
    width: auto;
    height: 100%;
    object-fit: fill;

}