
.front-page-top {

}



.front-page-top .fast-url {
    padding: 0px;
    margin: 10px auto;
}

.front-page-top .fast-url li {
    list-style: none;
    display: block;
    margin: 5px 15px 15px 15px;
}

.front-page-top .fast-url li a {
    padding: 5px  5px  5px 40px;
    display: block;
    font-size: 0.9em
}

.front-page-top .fast-url li a {
    background: left center no-repeat;
}

.front-page-top .bg-grey {
    background: var(--bs-gray-bg);
}


.front-section-title {
    margin: 15px auto;
    display: flex;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    flex-direction: row;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 10px;
    font-size: 1.5em;
}

.front-section-title:before,
.front-section-title:after {
    content: "";
    display: block;
    width: 77px;
    height: 3px;
    margin: 12px 10px 0 10px;
    background: #2a6f94;
}


.product-categories .categories-list {
    display: flex;
    margin-top: 0px;
    padding-left: 0px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.product-categories .categories-list li {
    margin: 5px;
    border: solid 1px #d2d2d2;
    border-radius: 5px;
    padding: 15px;
    -webkit-box-shadow: 0px 6px 10px 1px rgba(0,0,0,0.12);
    box-shadow: 0px 6px 10px 1px rgb(0 0 0 / 12%);
    text-align: center;
    width: 18%;
    max-width: 200px;
}

.product-categories .categories-list li a .img {
    display: block;
    margin: 5px auto;
    width: 100%;
    height: 75px;
    position: relative;
    overflow: hidden;
}

.product-categories .categories-list li a .img img {
    border: none;
    object-fit: cover;
}


.product-categories .categories-list li a strong {
    font-size: 13px;
    display: block;
    padding: 3px;
    margin: auto;
}




.our-company {
    display: block;
    margin-top: 50px;
    padding-top: 100px;
    padding-bottom: 60px;
    background: #f4f4f4;
    position: relative;
}

.our-company .under-logo-text  p{
    margin: 20px 0;
    font-size: 0.9em;
}




.our-company .our-company-info-blocks {
    margin-top: 70px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.our-company .our-company-info-blocks .flex-inner {
    width: 23%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0px;
    background: #ffffff03;
    border: solid 1px #d2d2d2;
    border-radius: 5px;
    padding: 15px;
    -webkit-box-shadow: 0px 6px 10px 1px rgb(0 0 0 / 12%);
    box-shadow: 0px 6px 10px 1px rgb(0 0 0 / 12%);
    justify-content: flex-start;
}

.our-company .our-company-info-blocks .flex-inner:hover {
    background: white;
}


.our-company .our-company-info-blocks .img-wrapper {
    display: block;
    float: left;
    margin: 10px auto;
    height: 61px;
    width: 70px;

}

.our-company .our-company-info-blocks .img-wrapper img {
    object-fit: cover;
    width: 100%;
}

.our-company .our-company-info-blocks h3 {
    padding: 0 20px;
    font-weight: normal;
    font-size: 18px;
    margin: 10px auto;
    word-wrap: break-word
}

.our-company .our-company-info-blocks p {
    padding: 5px;
    margin: 0px;
    font-weight: 700;
}

.our-company .overlay-text {
    display: block;
    color: #fbf9f9;
    position: absolute;
    z-index: 1;
    font-size: clamp(20px, 100px, 150px);
    text-transform: uppercase;
    font-weight: bold;
    left: 0px;
    right: 0px;
    margin: 0px auto;
    text-align: center;
    top: 0px;
}

.our-company .row {
    position: relative;
    z-index: 2;
}




.faq   .faq-list {
    padding: 0px;
    margin: 0px;
}

.faq   .faq-list li{
    padding: 0px;
    margin: 0px;
    list-style: none;
}

.faq   .faq-list li .faq-question {
    display: block;
    background: #f4f4f4;
    background: rgb(243,243,243);
    background: linear-gradient(180deg, rgba(243,243,243,1) 0%, rgba(229,229,229,1) 63%, rgba(229,229,229,1) 100%);
    margin: 10px;
    padding: 20px 42px 20px 20px;
    font-weight: 700;
    position: relative;
    cursor: pointer;
    border-radius: 5px;
    -webkit-box-shadow: 0px 4px 2px 0px rgba(0,0,0,0.20);
    box-shadow: 0px 4px 2px 0px rgba(0,0,0,0.20);

}

.faq   .faq-list li .faq-question:hover {
    -webkit-box-shadow: 0px 4px 2px 0px rgba(0,0,0,0.30);
    box-shadow: 0px 4px 2px 0px rgba(0,0,0,0.30);
}

.faq   .faq-list li .faq-question:after,
.faq   .faq-list li .faq-question:before {
    content: "";
    display: block;
    width: 26px;
    height: 4px;
    background: #2a6f94;
    /*     float: right;
        margin-top: 8px; */

    position: absolute;
    right: 12px
}

.faq   .faq-list li .faq-question:after {
    right: 12px;
    top: 30px
}

.faq   .faq-list li .faq-question:before {
    top: 30px;
    transform: rotate(90deg);
}

.faq   .faq-list li .faq-answer {
    display: none;
    background: #f9f9f9;
    margin: 0 10px 20px 10px;
    padding: 20px 30px;
    border-radius: 0 30px 30px 30px;
}

.faq   .faq-list li.faq-show .faq-answer {
    display: block;
    word-break: break-all;
}

.faq   .faq-list li.faq-show .faq-question:before {
    display: none;
}

.faq   .faq-list li.faq-show .faq-question:after {
    margin-right: 0px;
}

.faq  .left-block h2 {
    padding: 0px;
    margin: 12px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.1em;
}

.faq  .right-block img{
    object-fit: cover;
    width: 80%;
    float: right;
    margin-right: 20px;
}



.be-partner {
    margin-top: 0px;
    padding: 40px 0;
    background-image: radial-gradient(#f4f4f4 1px, transparent 0);
    background-size: 10px 10px;
    background-position: -19px -19px;
    /*background: url("../images/bg_geometric_1.jpg") no-repeat top center;*/
}


.be-partner {
    position: relative;
}

.be-partner .container {
    position: relative;
    z-index: 2;
}

.be-partner  h2{
    display: block;
    text-align: center;
    padding: 0px;
    margin: 0px;
    font-size: 30px;
    font-weight: 700;
}

.be-partner h2 span{
    color: #f8a80a;
}

.be-partner .callback-form {
    max-width: 580px;
    margin: auto;
    padding-top: 15px;
    padding-bottom: 60px;
}

.be-partner   p {
    text-align: center;
    color: #3e3e3e;
    padding-top: 15px;
}

.be-partner .button {
    background: #f8a80a;
    border-color: #f8a80a;
    color: #000;
}


.callback-form input {
    background: #fff;
    border: solid 1px #f2f2f1;
    border-radius: 3px;
    padding: 15px;
    margin-bottom: 15px;
    display: block;
    width: calc(100% - 30px);
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.14);
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.14);
}


.callback-form .conf-policy {
    font-size: 12px;
}