
header .top {
    box-shadow: var(--bs-top-box-shadow);
}

header .bg-blue {
    /* background: var(--bs-blue-darck); */
    /* min-height: 57px; */
}


header .top .options{
    padding: 0px;
    /*margin: 25px 0px 30px 0px;*/
    margin: 15px 0px 20px 0px;
}


header .top .options li {
    padding: 0px;
    margin:0px 15px 0 0;
    list-style: none;
    display: inline-block;
    /*font-size: 13px;*/
    font-size: 0.85em;
}

header .selected-geo span:hover {
    border-bottom: solid 1px #222;
}

.selected-city {
    font-weight: 600;
}


.selected-geo .geo-selector {
    position: absolute;
    z-index: 2;
    left: 7%;
    padding-top: 20px;
    min-width: 200px;

}

.selected-geo .geo-selector li {
    margin: 0px;
    border:solid 1px #d2d2d2;
    border-radius: 15px;
    -webkit-filter: drop-shadow(0 2px 8px #bfbfbf);
    filter: drop-shadow(0 0px 8px #bfbfbf);
    padding: 15px!important;
    background: white;
}

.selected-geo .geo-selector li:before,
header .user-urls:before {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 20px;
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid #fff;
}


header .top .left-options {
    position: relative;
}
header .top .left-options li strong {
    font-weight: normal;
}


header .top .right-options {
    text-align: right;

}

header .top .right-options li {
    margin: 0px 0 0 20px;
}

header .top .right-options li:first-child {
    margin-left: 0px;
}

header .top .right-options li a:hover {
    color: var(--bs-yellow);
}


header .top .options li i {
    font-size: 16px;
    margin-right: 5px;
    color: #183153;
}


header .top .options li a {
    color: black;
    text-decoration: none;
}

header .top .options li a span {
    font-weight: 700;
}



header .middle {
    padding-top: 40px;
    padding-bottom: 40px;
}



header .middle  .logo {
    display: block;
    width: 240px;
}

header .middle  .logo img {
    object-fit: cover;
    width: 100%;
}

header .middle .slogan {
    text-transform: uppercase;
    border-left: solid 1px var(--bs-grey-border);
    font-size: 0.8em;
    color: #256892;
    font-weight: 700;
    margin-left: 15px;
    padding: 5px 0 0px 15px;
    width: 220px;
}


header .middle .phones {
    display: flex;
    font-size: 1.2em;
    color: #faae15;
    font-weight: 700;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: flex-start;
    height: 100%;
}


header .btn-order-call {
    font-size: 0.8em;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 700;
    text-transform: uppercase;
}

header .btn-order-call i {
    background: var(--bs-yellow);
    padding-top: 7px;
    width: 24px;
    height: 24px;
    border-radius: 100%;
    animation: radial-pulse 3s infinite;
}




header .checker-and-gate
{
    display: flex;
    padding: 0px;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
    height: 100%;
}


header .middle .checker-and-gate li
{
    display: inline-block;
    list-style: none;
    text-transform: uppercase;
    font-size: 0.7rem;
    font-weight: 700;
    margin-left: 10px;
    position: relative;
}

header .middle .checker-and-gate li i {
    margin-right: 5px;
    margin-top: -2px;
    font-size: 20px;
    color: #faad19;
    float: left;
}


header  .middle .checker-and-gate li a {
    color: #000;
    text-decoration: none;
    vertical-align: middle;
}



header .bottom {
    background: var(--bs-blue);
}


header nav.fixed {
    position: fixed;
    z-index: 10;
    width: 100%;
    top: 0px;
    margin-top: 0px;
    -webkit-box-shadow: 0px 7px 11px 0px rgba(0,0,0,0.14);
    box-shadow: 0px 7px 11px 0px rgba(0,0,0,0.14);
}



header nav .catalog-menu-title {
    display: block;
    background: #225f7e;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    padding: 20px;
    margin: 0px;
    font-size: 0.9em;
    width: 100%;
    cursor: pointer;
}

header nav .catalog-menu-title:hover {
    /*background: #225f7e;*/
    background: var(--bs-yellow);
    transition: .2s linear;
}

header nav .flex .catalog-menu-wrapper {
    width: auto;
}

header nav .catalog-menu-title .butter-button {
    display: block;
    width: 28px;
    float: left;
    margin: 3px 15px 0 0;
}

header nav .catalog-menu-title .butter-button span {
    display: block;
    height: 2px;
    background: white;
    width: 100%;
    margin-bottom: 3px;
}

header nav .catalog-menu-title .butter-button span:nth-child(2) {
    width: 90%;
}


header nav .catalog-menu-title .butter-button span:nth-child(3) {
    width: 80%;
}

header nav .search-group {
    width: 100%;
}


header nav .search-group .form-control {
    border-radius: 30px 0 0 30px;
    border-color: white;
}

header nav .search-group .input-group-text{
    border-radius:  0 30px 30px 0;
    background: white;
    border-color: white;
    color: var(--bs-blue);
}

header nav .search-group  input::-webkit-input-placeholder{ /* Edge */
    text-transform: uppercase;
    font-size: 12px;
}

header nav .search-group  input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    text-transform: uppercase;
    font-size: 12px;
}

header nav .search-group  input::placeholder {
    text-transform: uppercase;
    font-size: 12px;
}


header nav .compare-and-favorite {
    display: block;
    padding: 0px;
    margin: 0 auto;
    text-align: center;
    float: right;
    margin-right: 0px;
}


header nav .compare-and-favorite li {
    font-size: 12px;
    cursor: pointer;
    color: #fff;
    text-transform: uppercase;
    list-style: none;
    display: inline-block;
    font-weight: 700;
    margin-left: 15px;
}

header nav .compare-and-favorite li a {
    color: #fff;
    text-decoration: none;
}

header nav .compare-and-favorite li.cart, .compare-and-favorite li.cart {
    font-size: 0.97em;
    position: relative;
}

header nav .compare-and-favorite li.cart sup, .compare-and-favorite li.cart sup {
    position: absolute;
    z-index: 2;
    background: var(--bs-yellow);
    display: inline-block;
    padding: 7px 4px 6px 3px;
    border-radius: 100%;
    text-align: center;
    font-size: 0.6em;
    left: 10px;
    top: -7px;
    min-width: 14px;
    border:solid 1px #256892;
}

header nav .compare-and-favorite li.cart sub {
    font-size: 0.6em;
}


.mob-menu {
    position: fixed;
    background: white;
    -webkit-box-shadow: 0px 6px 10px 1px rgba(0,0,0,0.12);
    box-shadow: 6px 0px 10px 1px rgb(0 0 0 / 12%);
    z-index: 999;
    width: 100%;
    bottom: 0px;
    padding: 5px;
}

.mob-menu a {
    padding: 10px;
    display: block;
    font-size: 20px;
    text-align: center;
    background: #f0f0f0;
    border-radius: 5px;
}

.geo-items-list .geo-item-title {
    font-weight: 600;
    font-size: 0.9em;
    display: block;
    color: var(--bs-blue-darck);
    border-bottom: dotted 1px var(--bs-yellow);
    text-transform: uppercase;
    padding-bootom: 2px;
    margin-bottom: 5px;
}

.geo-items-list .geo-item-title::first-letter  {
    color: var(--bs-yellow);
    font-weight: 600;
}

.geo-items-list a {
    font-size: 0.9em;
    display: block;
}

.geo-items-list a i {
    color: #ccc;
}
.geo-items-list a:hover i {
    color: var(--bs-blue-darck);
}
.geo-items-list .geo-item-wrapper {
    margin-bottom: 25px;
}