@import "root.css";
@import "header.css";
@import "front-page.css";
/*@import "shop.css";*/
@import "ecommerce.css";
@import "slider.css";
@import "banners.css";
@import "product.css";
@import "elements.css";
@import "footer.css";
@import "responcive.css";



body {
    font-family: var(--bs-font-base)!important;
    font-size: 0.9em;
}

.site-main {
    margin-bottom: 60px;
}


a {
    color: var(--bs-darck);
    text-decoration: none;
}


ul li {
    list-style: none;
}

a:hover {
    color: var(--bs-yellow);
    text-decoration: none;
}

.dd {
    outline: solid 1px #00ffff2b;
    min-height: 50px;
}



.loader-wrapper {
    display: block;
    margin: 0px auto;
    padding-bottom: 30px;
    text-align: center;
}

.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    position: relative;
    animation: rotate 1s linear infinite
}
.loader::before , .loader::after {
    content: "";
    box-sizing: border-box;
    position: absolute;
    inset: 0px;
    border-radius: 50%;
    border: 5px solid #197097;
    animation: prixClipFix 2s linear infinite ;
}
.loader::after{
    transform: rotate3d(90, 90, 0, 180deg );
    border-color: #faae15;
}

@keyframes rotate {
    0%   {transform: rotate(0deg)}
    100%   {transform: rotate(360deg)}
}

@keyframes prixClipFix {
    0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
    50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
    75%, 100%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
}


.flex-inline {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 100%;
    align-content: center;
}

.flex-vertical {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    align-content: flex-end;
    align-items: center;
}

.form-control, .form-select {
    border-radius: 30px;
    border-color: #999999;
}



input.form-control::-webkit-input-placeholder,
input.form-control:-ms-input-placeholder,
input.form-control::placeholder
{
    font-size: 12px;
}




.border-left {
    border-left: solid 1px var(--bs-border-color);
    padding-left: 25px;
}



.properties .options {
    padding: 0px;
    margin: 0px;
}

.properties .options h3, .yellow-dot-list h3 {
    display: block;
    margin-bottom: 10px;
}

.properties .options li {
    display: block;
    position: relative;
/*     width: 85%; */
    margin-top: 5px;
}

.properties .options li:last-child {
    margin-bottom: 5px;
}

.properties .options li .title, .options li .value {
    z-index: 2;
    position: relative;
    padding-right: 3px;
}

.properties .options li .value {
/*     float: right; */
	display: inline-block;
    padding-right: 10px;
    padding-left: 3px;
}

/* .properties .options li:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 6px;
    width: 100%;
    border-bottom: 1px dotted #5c58589e;
    z-index: 1;
} */

.fake-element {
    display: block;
    padding: 15px;
    width: 80%;
    background: #f0f0f0;
    border-radius: 30px;
    margin: 7px auto;
}

.fake-element:first-child {
    margin-top: 5px;
}

.bradius30 {
    border-radius: 30px;
}

.width100prc {
    width: 100%!important;
}

.pos-rel {
    position: relative;
}

.noafter:after, .nobefore:before {
    content: unset!important;
}

.form-check-input:checked {
    background: var(--bs-yellow);
    color: #000;
    border: solid 1px var(--bs-yellow);
}

.show {
    display: block!important;
}

.hide {
    display: none!important;
}

/* .cnts-entry h1{font-size: 1.3em;}
.cnts-entry h2{ font-size: 1.2em;}
.cnts-entry h3, .cnts-entry h4, .cnts-entry h5 { font-size: 1.1em;} */

.cnts-entry ul {
    margin: 0px;
}

.cnts-entry ul li {
    list-style: circle;
}

.cnts-entry h1, .cnts-entry h2, .cnts-entry h3 {
    font-weight: 600;
}



.page-numbers {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 30px;
}

.page-numbers li {
    display: block;
    margin: 5px;
}

.page-numbers li .page-numbers {
    padding: 4px 8px;
    background: white;
    border-radius: 100%;
    min-width: 30px;
    min-height: 18px;
}

.page-numbers li .current, .page-numbers li .page-numbers:hover {
    background: var(--bs-yellow);
    color: white;
}

.is-invalid {
    background: #f7d0d0;
}


.relative {
    position: relative;
}
.global-dropdown {
    position: absolute;
    display: none;
    z-index: 9999;
    top: 70px;
}

.maxheigh400auto {
    max-height: 400px;
    overflow-y: auto;
}



.global-dropdown .loader-wrapper {
    max-width: 100px;
    margin: 100px auto;

}


.global-dropdown .categories-list {
    display: block;
    border-right: solid 1px var(--bs-yellow);
    max-width: 350px;
    text-align: right;
    margin: 20px;
}

.global-dropdown .categories-list li {
    margin: 5px 10px;
    padding: 10px;
}

.global-dropdown .categories-list li .img {
    width: 100px;
    display: block;
    margin: auto;
    padding: 5px
}

.global-dropdown .categories-list li .img img {
    object-fit: cover;
    width: 100%;
}

.underline {
    text-decoration: underline;
}

.slim-scrollbar::-webkit-scrollbar {
    width: 0.2em;
}

.slim-scrollbar::-webkit-scrollbar-track {
    background: #f0f0f0
}

.slim-scrollbar::-webkit-scrollbar-thumb {
    background-color: #aaaaaac9;
    outline: 1px solid #f0f0f0;
}

.main-image {
    border: solid 1px var(--bs-grey-border);
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}


.image-wrapper {
    width: 100%;
    height: 240px;
    /*overflow: hidden;*/
    position: relative;
    margin: auto;
    text-align: center;
    /*display: flex;*/
    /*align-items: center;*/
}

.image-wrapper img {
    display: block;
    width: 100%;
    height: 240px;
    object-fit: contain;
    margin: 0 auto;
}