.product-loop {
    border: solid 1px #d2d2d2;
    border-radius: 5px;
    -webkit-box-shadow: 0px 6px 10px 1px rgba(0, 0, 0, 0.12);
    box-shadow: 0px 6px 10px 1px rgb(0 0 0 / 12%);
    padding: 25px;
    overflow: hidden;
    height: 100%
}


.product-loop .woocommerce-loop-product__title {
    font-size: 0.9em;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}


.product-loop .product-loop-image-wrapper {
    width: 100%;
    height: 240px;
    /*overflow: hidden;*/
    position: relative;
    margin: auto;
    text-align: center;
    /*display: flex;*/
    /*align-items: center;*/
}

.product-loop .product-loop-image-wrapper img {
    display: block;
    width: 100%;
    height: 240px;
    object-fit: contain;
    margin: 0 auto;
}

/** Cart item qty input **/
.pointer-events-none {
    pointer-events: none;
}

input.js-product-quantity {
    pointer-events: none;
    -webkit-appearance: none;
    caret-color: transparent;
}

input.js-product-quantity::-webkit-inner-spin-button,
input.js-product-quantity::-webkit-outer-spin-button {
    opacity: 0;
    margin-left: -14px;
}

input.js-product-quantity:focus {
    box-shadow: none !important;
    border-color: #999999 !important;
    caret-color: transparent!important;
}