@media (max-width: 1734px)  {
	.step-delivery-block {margin-left: 0}
}
@media (max-width: 1405px)  {
    .btn-order-call span,
    header .top .left-options li strong { display: none; }

    .blue-butter {
        display: block;
        margin-top: 0px;
    }

    header .top .right-options {
        display: none;
        border: solid 1px #d2d2d2;
        border-radius: 5px;
        padding: 15px;
        -webkit-box-shadow: 0px 6px 10px 1px rgba(0,0,0,0.12);
        box-shadow: 0px 6px 10px 1px rgb(0 0 0 / 12%);
        background: white;
        text-align: left;
        position: absolute;
        right: 0px;
        top: 30px;
        z-index: 10;
        min-width: 200px;
    }

    header .top .right-options li {
        display: block;
        padding: 10px 0;
        margin-left: 0px;
    }
    header .middle .btn-order-call {
        font-size: 0.8em;
        width: 50px;
    }
}

@media (max-width:1399px){
	.cart-card-total {
		font-size: 20px;
		line-height: 24px;
		white-space: nowrap;
	}
	.card-caption > .title {
		font-size: 18px;
		line-height: 22px;
	}
	.cart_totals .title-h4,
	.woocommerce-cart-form .title-h2, .title-h2 {
		font-size: 22px;
		line-height: 27px;
	}
	
}

@media (max-width: 1199px)  {
	.s3-caption {font-size: 20px;}
    header .middle .slogan,
    header nav .compare-and-favorite span,
    header nav .catalog-menu-title span.cat-text{display: none;}
    header nav .catalog-menu-title {padding: 20px 10px 30px 25px;}
    header nav .catalog-menu-title .butter-button {margin: 0px 0 0 0;}
	
	.form-control {padding: 0.2rem 0.2rem}
	
	.step-delivery-label span {left: calc(50% - 35px)}

	 .cart_totals.properties .options li:before {
			content: none;
			position: absolute;
			left: 0;
			bottom: 6px;
			width: 100%;
			border-bottom: 1px dotted #5c58589e;
			z-index: 1;
		} 
}

@media (max-width: 1024px) {
    .our-company .our-company-info-blocks h3 {font-size: 14px;}

    .callback-form .conf-policy {
        font-size: 12px;
        max-width: 60%;
        text-align: center;
        margin: 10px auto;
    }

    .callback-form input {width: 100%;}

    .our-company .border-left {
        border-left: unset;
        padding-left: 15px;
    }

    .subscribe {text-align: center;}

    footer .subscribe-text {
        padding: 6px 0 15px 0;
        text-align: center;
    }
}
@media (max-width:991px) {
	#myTab .nav-item {
		min-width: unset;
		width: 50%;
	}
	#myTab .nav-item:first-child {min-width: unset}

	.shipper-content-block {white-space: normal}

	.card-body.steps {padding:20px;}
	
	.pickup-point {
		position: absolute;
		z-index: 5;
		width: 300px;
		left: calc(50% - 150px);
		bottom: -17px;
	}
	.step-delivery-block {margin-left: 10px}
}

@media (max-width: 985px)
{
    header .checker-and-gate span,
    .front-page-top .bg-grey,
    .checkout-steps button b,
    .checkout-steps li span,
    .our-company .overlay-text {display: none;}

    header .middle .phones {font-size: initial;}

    .footer-menus {text-align: center;}

    .subscribe, .company-logo {text-align: center;}

    .our-company {padding-top: 20px;}

    .subscribe, .company-logo img {width: 100%;}

    .subscribe .form-control {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .subscribe-text, .callback-form, .under-logo-text {text-align: center!important; }

    .callback-form input {width: 100%; }

    .product-categories .categories-list li,
    .our-company .our-company-info-blocks .flex-inner {
        width: 100%;
        max-width: 100%
    }

    .our-company .our-company-info-blocks .flex-inner {
        margin-bottom: 10px;
    }

    .section .front-section-title {
        padding: 0 15px 0 15px;
    }

    h2.front-section-title:before,
    h2.front-section-title:after {content: unset;}

    .faq .right-block {display:none;}
}

@media (max-width:767px) {
	#myTab .nav-item::after {content: unset}
	#myTab .nav-item {width:50%}
	
	.step-delivery-label span {
		position: static;
		font-size: inherit;
	}
	
	.remove-link-btn {
			position: absolute;
			padding: 8px 10px;
			top: 20px;
			right: 10px;
			width: 88px;
			transition: border 0.2s ease-in;
		}
	.product-thumbnail .thumbnail-wrapper {margin: 0 auto;}
/* 	.woocommerce-cart-form > .offers-list-card {margin-bottom: 12px;} */
}

@media (max-width:575px){
	#myTab .nav-item {width: 100%}
	
	.step-fields-block > div > .mb-3 label {left: 0}
	.step-fields-block > div > .mb-3 > input {padding: 15px 20px 15px 100px}
	
	.woocommerce-cart-form .title-h2, .title-h2 {
		font-size: 22px;
		line-height: 27px;
	}	
}
@media (max-width: 555px) {
    header .middle .checker-and-gate li i {font-size: 28px;}

    header .middle .checker-and-gate li {margin-left: 4px;}

    .hide-500 {display: none;}

    header .middle  .logo {width: 40%;}

    header .middle .blue-butter {
        display: block;
        margin-right: 20px;
        margin-top: 2%;
        width: 25px;
    }

    header .middle {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .mob-search-block  .form-control{
        border: solid 1px var(--bs-blue-darck);
        border-right: none;
        padding: 2px;
    }

    .mob-search-block .input-group-text {
        border: solid 1px var(--bs-blue-darck);
        border-left: none;
        background: white;
        color: var(--bs-blue-darck);
        border-radius: 0 30px 30px 0;
    }


    .mob-search-block  .form-control::-webkit-input-placeholder { /* WebKit browsers */color:    #fff;}
    .mob-search-block  .form-control:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color:    #fff;
        opacity:  1;
    }
    .mob-search-block  .form-control::-moz-placeholder { /* Mozilla Firefox 19+ */
        color:    #fff;
        opacity:  1;
    }
    .mob-search-block  .form-control:-ms-input-placeholder { /* Internet Explorer 10+ */ color:    #fff;}

    header .checker-and-gate {width: 50%}

    .compare-and-favorite span {display: none;}

    .compare-and-favorite {
        text-align: right;
        margin-right: 0px;
        padding: 0px;
    }

    .compare-and-favorite li {
        display: inline-block;
        font-size: 20px;
        margin-left: 5px;
    }

    .compare-and-favorite li:first-child {margin-left: 0px;}

    .compare-and-favorite li a i {color: var(--bs-blue);}

    .compare-and-favorite li.cart i {font-size: 1.2em;}

    .compare-and-favorite li.cart sup{
        border: solid 1px white;
        color: white;
        text-align: center;
    }
}
@media (max-width: 522px) {
	.step-delivery-block {margin-left: 0} 
}
@media (max-width: 390px) {
	.pickup-point {
		position: static;
		width: 100%;
	}
}
